NiFi flows/AFGHAN_DIM.json
{"flowContents":{"identifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1","instanceIdentifier":"9aa2c918-0190-1000-6cac-6ee853fb77ed","name":"AFGHAN_DIM","comments":"","position":{"x":1248.0,"y":1320.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"bd926983-97c8-3146-a79c-882301d5fcf2","instanceIdentifier":"98c124bc-0190-1000-7236-a4fdeb5fc2e5","name":"EvaluateJsonPath","comments":"","position":{"x":-144.0,"y":1272.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","GenderR":"$.GENDER","Max String Length":"20 MB","OrganizationIdR":"$.ORGANIZATION_ID","Return Type":"auto-detect","SurnameR":"$.SURNAME","Null Value Representation":"empty string","RoleR":"$.ROLE","AgeR":"$.AGE","Path Not Found Behavior":"ignore","AfghanDimIdR":"$.AFGHAN_DIM_ID","NameR":"$.NAME","AfghanIdR":"$.AFGHAN_ID"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"GenderR":{"name":"GenderR","displayName":"GenderR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OrganizationIdR":{"name":"OrganizationIdR","displayName":"OrganizationIdR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SurnameR":{"name":"SurnameR","displayName":"SurnameR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"RoleR":{"name":"RoleR","displayName":"RoleR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"AgeR":{"name":"AgeR","displayName":"AgeR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AfghanDimIdR":{"name":"AfghanDimIdR","displayName":"AfghanDimIdR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"NameR":{"name":"NameR","displayName":"NameR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"AfghanIdR":{"name":"AfghanIdR","displayName":"AfghanIdR","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"9e0ebcaa-0e72-38a4-9ef0-0e016c71e5c3","instanceIdentifier":"98cbf8da-0190-1000-2b59-3db57f6a53fc","name":"RouteOnAttribute","comments":"","position":{"x":-144.0,"y":1528.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Routing Strategy":"Route to Property name","insert":"${AfghanDimIdR:isEmpty()}","no_change":"${AfghanId:equals(${AfghanIdR}):and(\n${Name:equals(${NameR}):and(\n${Surname:equals(${SurnameR}):and(\n${Gender:equals(${GenderR}):and(\n${Role:equals(${RoleR}):and(\n${Age:equals(${AgeR}):and(\n${OrganizationId:equals(${OrganizationIdR}):and(\n${AfghanDimIdR:isEmpty():not()\n})})})})})})})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"insert":{"name":"insert","displayName":"insert","identifiesControllerService":false,"sensitive":false,"dynamic":true},"no_change":{"name":"no_change","displayName":"no_change","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"c3d1d802-19f8-3f20-b29c-92fbe92f9b41","instanceIdentifier":"9a857f17-0190-1000-ed61-5d15eefcf5ac","name":"ExecuteSQL","comments":"","position":{"x":376.0,"y":520.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT ORGANIZATION_DIM_ID FROM ORGANIZATION_DIM WHERE ORGANIZATION_ID='${OrganizationId}'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"cb58e55d-1daa-3e1b-a304-7d3d7dceb1eb","instanceIdentifier":"995d987b-0190-1000-17fd-e1b565cbc58f","name":"PutSQL","comments":"","position":{"x":480.0,"y":1776.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"UPDATE AFGHAN_DIM\nSET VALID_UNTIL = '${now():format('dd-MMM-yy')}'\nWHERE AFGHAN_DIM_ID = ${AfghanDimIdR}","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"32b3de62-da6e-3e53-a5d3-84381daf2777","instanceIdentifier":"98ef9695-0190-1000-fe45-6630b68da6fe","name":"LogAttribute","comments":"","position":{"x":-144.0,"y":2016.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"warn","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"904b9dfe-3fa9-38cf-a314-a35aeb978d95","instanceIdentifier":"98ea96f0-0190-1000-6e70-5c5b4fdd41c5","name":"PutSQL","comments":"","position":{"x":-144.0,"y":1776.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"INSERT INTO AFGHAN_DIM(AFGHAN_DIM_ID,AFGHAN_ID,NAME,SURNAME,GENDER,ROLE,AGE,ORGANIZATION_ID) VALUES(NULL,'${AfghanId}','${Name}','${Surname}','${Gender}','${Role}',${Age},'${OrganizationIdFound}')","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"ab1c56e7-6a56-30d2-9eca-de36e735bbc2","instanceIdentifier":"99621d95-0190-1000-fa0d-305fca3f3ee7","name":"LogAttribute","comments":"","position":{"x":328.0,"y":1528.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"d2cb5f46-183f-3cc6-a1f0-7ca41487619b","instanceIdentifier":"8df91cf2-0190-1000-0920-8939d5cb5a39","name":"ExecuteSQL","comments":"","position":{"x":-144.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"e1a53078-3a80-3798-9df4-33327a0a20c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM Afghans","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"59788309-4b9c-3094-ab0d-a02a30ad24c3","instanceIdentifier":"986f3687-0190-1000-0bdf-a43780d3ec61","name":"ConvertAvroToJSON","comments":"","position":{"x":-144.0,"y":1024.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"bce13a81-18fd-3640-aa6c-6ce63aa7465b","instanceIdentifier":"97926481-0190-1000-5be5-574408eb5892","name":"ConvertAvroToJSON","comments":"","position":{"x":-144.0,"y":128.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"27f99229-b0d6-32cd-b828-472c62684cb0","instanceIdentifier":"97cd3348-0190-1000-7cb1-38003ddd7e16","name":"SplitJson","comments":"","position":{"x":-144.0,"y":344.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"135df908-d3a4-30ec-b7a3-bcc207dac7b6","instanceIdentifier":"9a857f19-0190-1000-a450-459ed4b1dcd1","name":"EvaluateJsonPath","comments":"","position":{"x":384.0,"y":944.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","OrganizationIdFound":"$.ORGANIZATION_DIM_ID","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OrganizationIdFound":{"name":"OrganizationIdFound","displayName":"OrganizationIdFound","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"85287441-9850-33e0-b03b-36adcfba418f","instanceIdentifier":"9a857f18-0190-1000-5ad6-d2776aabb839","name":"ConvertAvroToJSON","comments":"","position":{"x":384.0,"y":712.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"c2556812-41f5-3aca-a949-b101440f18bd","instanceIdentifier":"995bae40-0190-1000-6a5e-207c682ae502","name":"LogAttribute","comments":"","position":{"x":-616.0,"y":1776.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"798e83e1-2220-3854-9209-bfee96c3db9b","instanceIdentifier":"9841d553-0190-1000-e6a3-0ac7eb5ae328","name":"ExecuteSQL","comments":"","position":{"x":-144.0,"y":808.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select * from AFGHAN_DIM where AFGHAN_ID='${AfghanId}' and VALID_UNTIL is NULL","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"eae903cb-e181-3245-97ad-c5cb59e3397c","instanceIdentifier":"97cdbc73-0190-1000-9b4b-94168f74b8a3","name":"EvaluateJsonPath","comments":"","position":{"x":-144.0,"y":568.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Role":"$.Role","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Gender":"$.Gender","AfghanId":"$.AfghanId","Surname":"$.Surname","OgranizationId":"$.OrganizationId","Age":"$.Age","Path Not Found Behavior":"ignore","Name":"$.Name"},"propertyDescriptors":{"Role":{"name":"Role","displayName":"Role","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Gender":{"name":"Gender","displayName":"Gender","identifiesControllerService":false,"sensitive":false,"dynamic":true},"AfghanId":{"name":"AfghanId","displayName":"AfghanId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Surname":{"name":"Surname","displayName":"Surname","identifiesControllerService":false,"sensitive":false,"dynamic":true},"OgranizationId":{"name":"OgranizationId","displayName":"OgranizationId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Age":{"name":"Age","displayName":"Age","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Name":{"name":"Name","displayName":"Name","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8929f536-0b95-3191-b758-2470cdff2388","instanceIdentifier":"9a8781cc-0190-1000-03d5-831de6a3bc79","name":"","source":{"id":"eae903cb-e181-3245-97ad-c5cb59e3397c","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"97cdbc73-0190-1000-9b4b-94168f74b8a3"},"destination":{"id":"c3d1d802-19f8-3f20-b29c-92fbe92f9b41","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a857f17-0190-1000-ed61-5d15eefcf5ac"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"ab65212a-cc12-3672-a4af-d0cefe3339e3","instanceIdentifier":"98efaa6c-0190-1000-a0e9-7a8bd248254d","name":"","source":{"id":"904b9dfe-3fa9-38cf-a314-a35aeb978d95","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"PutSQL","comments":"","instanceIdentifier":"98ea96f0-0190-1000-6e70-5c5b4fdd41c5"},"destination":{"id":"32b3de62-da6e-3e53-a5d3-84381daf2777","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"LogAttribute","comments":"","instanceIdentifier":"98ef9695-0190-1000-fe45-6630b68da6fe"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"bbdf7c98-3d9d-319d-8d0a-a62f8b9fd9bd","instanceIdentifier":"99626e29-0190-1000-513f-860b4eec4bea","name":"","source":{"id":"cb58e55d-1daa-3e1b-a304-7d3d7dceb1eb","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"PutSQL","comments":"","instanceIdentifier":"995d987b-0190-1000-17fd-e1b565cbc58f"},"destination":{"id":"ab1c56e7-6a56-30d2-9eca-de36e735bbc2","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"LogAttribute","comments":"","instanceIdentifier":"99621d95-0190-1000-fa0d-305fca3f3ee7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"3240d047-b551-38cf-8539-2c5b2e445524","instanceIdentifier":"98cc16c2-0190-1000-79c6-339158efdd7f","name":"","source":{"id":"bd926983-97c8-3146-a79c-882301d5fcf2","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"98c124bc-0190-1000-7236-a4fdeb5fc2e5"},"destination":{"id":"9e0ebcaa-0e72-38a4-9ef0-0e016c71e5c3","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"RouteOnAttribute","comments":"","instanceIdentifier":"98cbf8da-0190-1000-2b59-3db57f6a53fc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"d2fb82b5-988b-398b-93e6-59c5ca0b1c7d","instanceIdentifier":"9a86aff8-0190-1000-cf2d-87d298c567a5","name":"","source":{"id":"85287441-9850-33e0-b03b-36adcfba418f","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a857f18-0190-1000-5ad6-d2776aabb839"},"destination":{"id":"135df908-d3a4-30ec-b7a3-bcc207dac7b6","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a857f19-0190-1000-a450-459ed4b1dcd1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"11cb4707-8c7b-35fe-ad66-b0ef64a0d164","instanceIdentifier":"97e09b8e-0190-1000-3790-ee20717da541","name":"","source":{"id":"27f99229-b0d6-32cd-b828-472c62684cb0","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"SplitJson","comments":"","instanceIdentifier":"97cd3348-0190-1000-7cb1-38003ddd7e16"},"destination":{"id":"eae903cb-e181-3245-97ad-c5cb59e3397c","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"97cdbc73-0190-1000-9b4b-94168f74b8a3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"c7efa935-fd34-3aa7-90e0-cb22867c8cd0","instanceIdentifier":"995db540-0190-1000-cdd8-ecdc125e6f77","name":"","source":{"id":"9e0ebcaa-0e72-38a4-9ef0-0e016c71e5c3","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"RouteOnAttribute","comments":"","instanceIdentifier":"98cbf8da-0190-1000-2b59-3db57f6a53fc"},"destination":{"id":"cb58e55d-1daa-3e1b-a304-7d3d7dceb1eb","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"PutSQL","comments":"","instanceIdentifier":"995d987b-0190-1000-17fd-e1b565cbc58f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"617b5894-1bb1-3889-87c6-ef18079ea583","instanceIdentifier":"9a8694e2-0190-1000-8edb-2a66bf3c0898","name":"","source":{"id":"c3d1d802-19f8-3f20-b29c-92fbe92f9b41","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a857f17-0190-1000-ed61-5d15eefcf5ac"},"destination":{"id":"85287441-9850-33e0-b03b-36adcfba418f","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a857f18-0190-1000-5ad6-d2776aabb839"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"a8501043-b602-3a20-b861-0fe19b6acc0a","instanceIdentifier":"97cd9447-0190-1000-4d00-086de16a928c","name":"","source":{"id":"bce13a81-18fd-3640-aa6c-6ce63aa7465b","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"97926481-0190-1000-5be5-574408eb5892"},"destination":{"id":"27f99229-b0d6-32cd-b828-472c62684cb0","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"SplitJson","comments":"","instanceIdentifier":"97cd3348-0190-1000-7cb1-38003ddd7e16"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"d598a9af-c0a7-3c13-bb96-e3041b1150a9","instanceIdentifier":"995d398e-0190-1000-899b-3e9088eec726","name":"","source":{"id":"9e0ebcaa-0e72-38a4-9ef0-0e016c71e5c3","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"RouteOnAttribute","comments":"","instanceIdentifier":"98cbf8da-0190-1000-2b59-3db57f6a53fc"},"destination":{"id":"c2556812-41f5-3aca-a949-b101440f18bd","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"LogAttribute","comments":"","instanceIdentifier":"995bae40-0190-1000-6a5e-207c682ae502"},"labelIndex":1,"zIndex":0,"selectedRelationships":["no_change"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"83cef61d-f6a2-30bf-b79b-a61875d7cbf3","instanceIdentifier":"98c13d0e-0190-1000-c5bb-b82195d7afb7","name":"","source":{"id":"59788309-4b9c-3094-ab0d-a02a30ad24c3","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"986f3687-0190-1000-0bdf-a43780d3ec61"},"destination":{"id":"bd926983-97c8-3146-a79c-882301d5fcf2","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"98c124bc-0190-1000-7236-a4fdeb5fc2e5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"f7bcd1d7-fae4-3be2-b767-ca3d233d4b4e","instanceIdentifier":"9965b435-0190-1000-5bff-42517e563ea8","name":"","source":{"id":"cb58e55d-1daa-3e1b-a304-7d3d7dceb1eb","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"PutSQL","comments":"","instanceIdentifier":"995d987b-0190-1000-17fd-e1b565cbc58f"},"destination":{"id":"904b9dfe-3fa9-38cf-a314-a35aeb978d95","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"PutSQL","comments":"","instanceIdentifier":"98ea96f0-0190-1000-6e70-5c5b4fdd41c5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"3e26f477-cb17-395a-9baf-ca34ffecea05","instanceIdentifier":"9a87bfe8-0190-1000-7b27-e3226acc7c89","name":"","source":{"id":"135df908-d3a4-30ec-b7a3-bcc207dac7b6","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a857f19-0190-1000-a450-459ed4b1dcd1"},"destination":{"id":"798e83e1-2220-3854-9209-bfee96c3db9b","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"ExecuteSQL","comments":"","instanceIdentifier":"9841d553-0190-1000-e6a3-0ac7eb5ae328"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"1454cfb9-b5c2-319f-8db0-9b68516bda14","instanceIdentifier":"9872e2db-0190-1000-efd6-71a8fa23d897","name":"","source":{"id":"798e83e1-2220-3854-9209-bfee96c3db9b","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"ExecuteSQL","comments":"","instanceIdentifier":"9841d553-0190-1000-e6a3-0ac7eb5ae328"},"destination":{"id":"59788309-4b9c-3094-ab0d-a02a30ad24c3","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"986f3687-0190-1000-0bdf-a43780d3ec61"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"54e573e7-17d3-3cfe-81a6-adfb95c3a24a","instanceIdentifier":"97927feb-0190-1000-d403-8e8aaadeaeb3","name":"","source":{"id":"d2cb5f46-183f-3cc6-a1f0-7ca41487619b","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"ExecuteSQL","comments":"","instanceIdentifier":"8df91cf2-0190-1000-0920-8939d5cb5a39"},"destination":{"id":"bce13a81-18fd-3640-aa6c-6ce63aa7465b","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"97926481-0190-1000-5be5-574408eb5892"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"},{"identifier":"eeb285dd-cb6b-3fa7-bfcf-334b926d3ee0","instanceIdentifier":"98eae2cd-0190-1000-6c8d-62b916f30c3d","name":"","source":{"id":"9e0ebcaa-0e72-38a4-9ef0-0e016c71e5c3","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"RouteOnAttribute","comments":"","instanceIdentifier":"98cbf8da-0190-1000-2b59-3db57f6a53fc"},"destination":{"id":"904b9dfe-3fa9-38cf-a314-a35aeb978d95","type":"PROCESSOR","groupId":"e760b78d-3551-3744-a39b-6a92ec36e8b1","name":"PutSQL","comments":"","instanceIdentifier":"98ea96f0-0190-1000-6e70-5c5b4fdd41c5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["insert"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e760b78d-3551-3744-a39b-6a92ec36e8b1"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","instanceIdentifier":"978e4073-0190-1000-fa03-618f3f752857","name":"ORACLE","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"oracle.jdbc.OracleDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":"select 1 as test from dual","Database Connection URL":"jdbc:oracle:thin:S18285/S18285@160.99.12.92:1521/GISLAB_PD","dbcp-time-between-eviction-runs":"-1","Database User":null,"kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"lib/ojdbc8.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9aa2c918-0190-1000-6cac-6ee853fb77ed"},{"identifier":"e1a53078-3a80-3798-9df4-33327a0a20c1","instanceIdentifier":"8e03e652-0190-1000-04d7-2dbd8ee2d190","name":"MSSQL","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.microsoft.sqlserver.jdbc.SQLServerDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:sqlserver://localhost;port=1433;database=Afghans;trustServerCertificate=true","dbcp-time-between-eviction-runs":"-1","Database User":"sa","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"lib/mssql-jdbc-12.6.3.jre11.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9aa2c918-0190-1000-6cac-6ee853fb77ed"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}