NiFi flows/ENCOUNTER_DIM.json
{"flowContents":{"identifier":"127aee89-e591-3479-a8ba-972b439ac4c8","instanceIdentifier":"9ab8d932-0190-1000-585f-a572c6db0c40","name":"ENCOUNTER_DIM","comments":"","position":{"x":1248.0,"y":1840.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"83604dad-e5b0-36aa-a3da-16da83db708f","instanceIdentifier":"9aa3bdec-0190-1000-64d1-ff32aa321f8b","name":"ConvertAvroToJSON","comments":"","position":{"x":2576.0,"y":1080.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"61180b95-1525-3dfd-b6d7-bd8a619f07f6","instanceIdentifier":"9ab1a9fc-0190-1000-8e29-21f02ec8c08a","name":"ExecuteSQL","comments":"","position":{"x":4512.0,"y":1096.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select DATETIME_DIM_S.NEXTVAL as \"DATETIME_DIM_ID\" from dual","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"cfcf97d2-de34-33c3-9586-b2aea01c0f95","instanceIdentifier":"9aa3bde9-0190-1000-da72-0e5c4970625c","name":"SplitJson","comments":"","position":{"x":2576.0,"y":400.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"5a146ccc-e6fb-3d2e-8429-2ae939e319e3","instanceIdentifier":"9aa3bde7-0190-1000-f174-e4569a3d57a6","name":"ExecuteSQL","comments":"","position":{"x":2576.0,"y":-40.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"e1a53078-3a80-3798-9df4-33327a0a20c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM Encounters","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"d381dda1-8f25-35a1-9c89-86edad01e484","instanceIdentifier":"9aab798a-0190-1000-c72f-de1564142090","name":"ConvertAvroToJSON","comments":"","position":{"x":3592.0,"y":1080.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"de45e5e8-a01d-367f-a0cb-8fb430743858","instanceIdentifier":"9ab1a9fe-0190-1000-edee-822b6dc18633","name":"EvaluateJsonPath","comments":"","position":{"x":4512.0,"y":1560.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","DatetimeDimId":"$.DATETIME_DIM_ID","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"DatetimeDimId":{"name":"DatetimeDimId","displayName":"DatetimeDimId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"b67d0f5d-ba17-3685-94f7-a732a2cf45e1","instanceIdentifier":"9aa3bdeb-0190-1000-c2e6-9d8b83d0c3be","name":"ExecuteSQL","comments":"","position":{"x":2576.0,"y":864.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select LOCATION_DIM_ID from LOCATION_DIM where LOCATION_ID='${LocationId}' and VALID_UNTIL is NULL","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"48535bf2-fe4c-3468-a378-d3e5a8ce892e","instanceIdentifier":"9aa3bdee-0190-1000-ee1b-951a1eaecf79","name":"RouteOnAttribute","comments":"","position":{"x":2576.0,"y":1584.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Routing Strategy":"Route to Property name","insert":"${LocationDimIdR:isEmpty()}","no_change":"${LocationId:equals(${LocationIdR}):and(\n${LocationName:equals(${LocationNameR}):and(\n${Region:equals(${RegionR}):and(\n${Country:equals(${CountryR}):and(\n${Latitude:equals(${LatitudeR}):and(\n${Longitude:equals(${LongitudeR}):and(\n${LocaationDimIdR:isEmpty():not()\n})})})})})})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"insert":{"name":"insert","displayName":"insert","identifiesControllerService":false,"sensitive":false,"dynamic":true},"no_change":{"name":"no_change","displayName":"no_change","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"334baf0f-a519-39e0-85b9-a94a0293887f","instanceIdentifier":"9aa86db9-0190-1000-381f-fabd7f4ed3e6","name":"EvaluateJsonPath","comments":"","position":{"x":3136.0,"y":1328.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","UnitDimId":"$.UNIT_DIM_ID","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"UnitDimId":{"name":"UnitDimId","displayName":"UnitDimId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"74e9edf7-c5da-3f56-87a1-3db0704c2f55","instanceIdentifier":"9aa9c89f-0190-1000-c092-f31cc15fabfd","name":"UpdateAttribute","comments":"","position":{"x":4040.0,"y":1200.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"quarter":"${month:toNumber():gt(0):and(${month:toNumber():lt(4)}):ifElse(1, \n${month:toNumber():gt(3):and(${month:toNumber():lt(7)}):ifElse(2, \n${month:toNumber():gt(6):and(${month:toNumber():lt(10)}):ifElse(3, 4)})})}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"quarter":{"name":"quarter","displayName":"quarter","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"120d543e-1ebe-3c01-b646-360b7e630c08","instanceIdentifier":"9aa9c89d-0190-1000-1a0e-3f6ae6ebb459","name":"LogAttribute","comments":"","position":{"x":4040.0,"y":1664.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"6bdf2939-59de-3e14-97ed-c3120b9c1e22","instanceIdentifier":"9aa9c8a0-0190-1000-a59b-82a9400ef7ac","name":"PutSQL","comments":"","position":{"x":4040.0,"y":1424.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"INSERT INTO DATETIME_DIM(DATETIME_DIM_ID,YEAR,QUARTER,MONTH,DAY,HOUR,MINUTE) VALUES('${DatetimeDimId}',${year:toNumber()},${quarter:toNumber()},${month:toNumber()},${day:toNumber()},${hour:toNumber()},${minute:toNumber()})","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"59af0acc-e9b6-315f-ba21-15184265365f","instanceIdentifier":"9aa86db8-0190-1000-1125-872f28c64dc9","name":"ConvertAvroToJSON","comments":"","position":{"x":3128.0,"y":1080.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"9c8ad617-b5ab-3421-b6a5-7ead41920398","instanceIdentifier":"9aa3bde8-0190-1000-7766-8987881b9e74","name":"ConvertAvroToJSON","comments":"","position":{"x":2576.0,"y":184.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"bf810be0-8b7d-365c-b695-8a3eaa0029a3","instanceIdentifier":"9aa3bdf3-0190-1000-524a-5ad9e744f71f","name":"LogAttribute","comments":"","position":{"x":3048.0,"y":1584.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"b5ea1a76-f939-3f90-95a4-be0fba86436d","instanceIdentifier":"9aab798b-0190-1000-622b-e09e10963269","name":"EvaluateJsonPath","comments":"","position":{"x":3592.0,"y":1328.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","GroupDimId":"$.GROUP_DIM_ID","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"GroupDimId":{"name":"GroupDimId","displayName":"GroupDimId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"4376e2f4-fabd-398a-92aa-f690ead9865c","instanceIdentifier":"9ab1a9fd-0190-1000-df58-f09928c32ddf","name":"ConvertAvroToJSON","comments":"","position":{"x":4512.0,"y":1312.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"05fcb5ba-1e0a-3ca6-8aea-99dd5ee5492e","instanceIdentifier":"9aa86db7-0190-1000-3aa0-e5903ae0287f","name":"ExecuteSQL","comments":"","position":{"x":3096.0,"y":840.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select UNIT_DIM_ID from MILITARY_UNIT_DIM where UNIT_ID='${UnitId}' and VALID_UNTIL is NULL","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"d1e4ca00-f1d2-39dc-96a0-9f79646c9765","instanceIdentifier":"9aa3bded-0190-1000-0246-42085453c1c8","name":"EvaluateJsonPath","comments":"","position":{"x":2576.0,"y":1328.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","LocationDimId":"$.LOCATION_DIM_ID","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"LocationDimId":{"name":"LocationDimId","displayName":"LocationDimId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"6b6bc86b-a9f1-389e-8ca9-147c60ec5af0","instanceIdentifier":"9aa9c89e-0190-1000-e77d-f2a78087418f","name":"UpdateAttribute","comments":"","position":{"x":4040.0,"y":968.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M2"},"properties":{"Delete Attributes Expression":"${Timestamp}","hour":"${Timestamp:substring(11,13)}","month":"${Timestamp:substring(5,7)}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","year":"${Timestamp:substring(0,4)}","Stateful Variables Initial Value":null,"day":"${Timestamp:substring(8,10)}","minute":"${Timestamp:substring(14,16)}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hour":{"name":"hour","displayName":"hour","identifiesControllerService":false,"sensitive":false,"dynamic":true},"month":{"name":"month","displayName":"month","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"year":{"name":"year","displayName":"year","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"day":{"name":"day","displayName":"day","identifiesControllerService":false,"sensitive":false,"dynamic":true},"minute":{"name":"minute","displayName":"minute","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"be96d9eb-49db-3001-ad24-b676d0f5d448","instanceIdentifier":"9aa3bdf0-0190-1000-20e6-bf9cbcf483a1","name":"LogAttribute","comments":"","position":{"x":2576.0,"y":2072.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"warn","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"8a3160d3-5e77-37b6-9ff4-c783d76b2f74","instanceIdentifier":"9aa3bdf1-0190-1000-4c51-40603c29cf1d","name":"LogAttribute","comments":"","position":{"x":2104.0,"y":1832.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"a8e70bcc-3f95-35c0-8a44-c08ba25693d4","instanceIdentifier":"9aa3bdea-0190-1000-970f-61df34948a7d","name":"EvaluateJsonPath","comments":"","position":{"x":2576.0,"y":624.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","NumberOfCasualties":"$.NumberOfCasualties","EncounterId":"$.EncounterId","UnitId":"$.UnitId","Max String Length":"20 MB","NumberOfCivilians":"$.NumberOfCivilians","Return Type":"auto-detect","LocationId":"$.LocationId","Null Value Representation":"empty string","Timestamp":"$.Timestamp","Path Not Found Behavior":"ignore","GroupId":"$.GroupId"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"NumberOfCasualties":{"name":"NumberOfCasualties","displayName":"NumberOfCasualties","identifiesControllerService":false,"sensitive":false,"dynamic":true},"EncounterId":{"name":"EncounterId","displayName":"EncounterId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"UnitId":{"name":"UnitId","displayName":"UnitId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"NumberOfCivilians":{"name":"NumberOfCivilians","displayName":"NumberOfCivilians","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"LocationId":{"name":"LocationId","displayName":"LocationId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp":{"name":"Timestamp","displayName":"Timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"GroupId":{"name":"GroupId","displayName":"GroupId","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"a9e409e7-6d4f-3d4f-9e63-b2c2b4310c96","instanceIdentifier":"9aa3bdf2-0190-1000-7564-61bb7d445a07","name":"PutSQL","comments":"","position":{"x":3200.0,"y":1832.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"UPDATE LOCATION_DIM\nSET VALID_UNTIL = '${now():format('dd-MMM-yy')}'\nWHERE LOCATION_DIM_ID = ${LocationDimIdR}","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"74a00be2-d9c8-31d9-8f19-23c98e5d8db0","instanceIdentifier":"9aab7989-0190-1000-71c7-3021905b7c50","name":"ExecuteSQL","comments":"","position":{"x":3592.0,"y":864.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select GROUP_DIM_ID from GROUP_DIM where GROUP_ID='${GroupId}'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"8262cc8f-deae-3012-abb6-aaa86b14a748","instanceIdentifier":"9aa3bdef-0190-1000-abf1-05ec7def6749","name":"PutSQL","comments":"","position":{"x":2576.0,"y":1832.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"INSERT INTO LOCATION_DIM(LOCATION_DIM_ID,LOCATION_ID,LATITUDE,LONGITUDE,LOCATION_NAME,COUNTRY,REGION) VALUES(NULL,'${LocationId}',${Latitude},${Longitude},'${LocationName}','${Country}','${Region}')\nINSERT INTO ENCOUNTER_DIM(ENCOUNTER_DIM_ID,ENCOUNTER_ID,DATETIME_DIM_ID,LOCATION_DIM_ID,UNIT_DIM_ID,GROUP_DIM_ID,NUMBER_OF_CIVILIANS,NUMBER_OF_CASUALTIES) VALUES(NULL,'${EncounterId}','${DatetimeDimId}','${LocationDimId}','${UnitDimId}','${GroupDimId}',${NumberOfCivilians},${NumberOfCasualties})","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"71cac35d-89b2-35ec-9dda-215653df6e59","instanceIdentifier":"9aa3bdf5-0190-1000-1d67-a20db252a24e","name":"","source":{"id":"9c8ad617-b5ab-3421-b6a5-7ead41920398","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9aa3bde8-0190-1000-7766-8987881b9e74"},"destination":{"id":"cfcf97d2-de34-33c3-9586-b2aea01c0f95","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"SplitJson","comments":"","instanceIdentifier":"9aa3bde9-0190-1000-da72-0e5c4970625c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"6202b4d2-23b3-30be-b0c1-becf378dcc59","instanceIdentifier":"9aa3bdfd-0190-1000-5f29-f8da9b3398f1","name":"","source":{"id":"48535bf2-fe4c-3468-a378-d3e5a8ce892e","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9aa3bdee-0190-1000-ee1b-951a1eaecf79"},"destination":{"id":"8a3160d3-5e77-37b6-9ff4-c783d76b2f74","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"LogAttribute","comments":"","instanceIdentifier":"9aa3bdf1-0190-1000-4c51-40603c29cf1d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["no_change"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"f981c6db-5ee0-3752-898d-3538ff434b3c","instanceIdentifier":"9aa9c8a5-0190-1000-d4f9-bc0c79c74b53","name":"","source":{"id":"6b6bc86b-a9f1-389e-8ca9-147c60ec5af0","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"UpdateAttribute","comments":"","instanceIdentifier":"9aa9c89e-0190-1000-e77d-f2a78087418f"},"destination":{"id":"74e9edf7-c5da-3f56-87a1-3db0704c2f55","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"UpdateAttribute","comments":"","instanceIdentifier":"9aa9c89f-0190-1000-c092-f31cc15fabfd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"05c1cdb2-b0a8-39a4-beb7-91beee149492","instanceIdentifier":"9aa3bdfe-0190-1000-d91d-523acf206dc0","name":"","source":{"id":"48535bf2-fe4c-3468-a378-d3e5a8ce892e","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9aa3bdee-0190-1000-ee1b-951a1eaecf79"},"destination":{"id":"a9e409e7-6d4f-3d4f-9e63-b2c2b4310c96","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"PutSQL","comments":"","instanceIdentifier":"9aa3bdf2-0190-1000-7564-61bb7d445a07"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"7d77ec50-3cf1-369d-960d-c662d82c0938","instanceIdentifier":"9ab5839c-0190-1000-8e2f-d6d530ac1d58","name":"","source":{"id":"120d543e-1ebe-3c01-b646-360b7e630c08","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"LogAttribute","comments":"","instanceIdentifier":"9aa9c89d-0190-1000-1a0e-3f6ae6ebb459"},"destination":{"id":"48535bf2-fe4c-3468-a378-d3e5a8ce892e","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9aa3bdee-0190-1000-ee1b-951a1eaecf79"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"e36865e5-948d-3884-bc9e-a7a0febb22e3","instanceIdentifier":"9aad5f9e-0190-1000-f89f-1afca974ef66","name":"","source":{"id":"59af0acc-e9b6-315f-ba21-15184265365f","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9aa86db8-0190-1000-1125-872f28c64dc9"},"destination":{"id":"334baf0f-a519-39e0-85b9-a94a0293887f","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9aa86db9-0190-1000-381f-fabd7f4ed3e6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"16b68854-db67-3e6d-8050-5bb8e01e0f1d","instanceIdentifier":"9ab3cda6-0190-1000-53cc-24e597627b89","name":"","source":{"id":"4376e2f4-fabd-398a-92aa-f690ead9865c","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9ab1a9fd-0190-1000-df58-f09928c32ddf"},"destination":{"id":"de45e5e8-a01d-367f-a0cb-8fb430743858","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9ab1a9fe-0190-1000-edee-822b6dc18633"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"ccf94066-fbd6-3e12-9217-f6cb2b45849e","instanceIdentifier":"9aa3bdfc-0190-1000-21d7-9b35d2e7367a","name":"","source":{"id":"8262cc8f-deae-3012-abb6-aaa86b14a748","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"PutSQL","comments":"","instanceIdentifier":"9aa3bdef-0190-1000-abf1-05ec7def6749"},"destination":{"id":"be96d9eb-49db-3001-ad24-b676d0f5d448","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"LogAttribute","comments":"","instanceIdentifier":"9aa3bdf0-0190-1000-20e6-bf9cbcf483a1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"425f6089-f6ac-3c18-8e90-8d75332f906d","instanceIdentifier":"9aa3bdf8-0190-1000-25fd-2d3d1bb09c48","name":"","source":{"id":"a8e70bcc-3f95-35c0-8a44-c08ba25693d4","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9aa3bdea-0190-1000-970f-61df34948a7d"},"destination":{"id":"b67d0f5d-ba17-3685-94f7-a732a2cf45e1","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"ExecuteSQL","comments":"","instanceIdentifier":"9aa3bdeb-0190-1000-c2e6-9d8b83d0c3be"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"0dcbe685-c2dc-3b6f-9ba1-cf9018ef453c","instanceIdentifier":"9aa3bdf4-0190-1000-0d14-277283dab176","name":"","source":{"id":"5a146ccc-e6fb-3d2e-8429-2ae939e319e3","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"ExecuteSQL","comments":"","instanceIdentifier":"9aa3bde7-0190-1000-f174-e4569a3d57a6"},"destination":{"id":"9c8ad617-b5ab-3421-b6a5-7ead41920398","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9aa3bde8-0190-1000-7766-8987881b9e74"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"a9a5e550-62c1-3348-b5d4-f4e18d0b4e75","instanceIdentifier":"9aa3bdf9-0190-1000-5462-452b193d84a3","name":"","source":{"id":"83604dad-e5b0-36aa-a3da-16da83db708f","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9aa3bdec-0190-1000-64d1-ff32aa321f8b"},"destination":{"id":"d1e4ca00-f1d2-39dc-96a0-9f79646c9765","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9aa3bded-0190-1000-0246-42085453c1c8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"33c1a198-f450-3006-a200-fb0ea0671b4d","instanceIdentifier":"9aa9c8a7-0190-1000-5066-61e4cc7bb476","name":"","source":{"id":"6bdf2939-59de-3e14-97ed-c3120b9c1e22","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"PutSQL","comments":"","instanceIdentifier":"9aa9c8a0-0190-1000-a59b-82a9400ef7ac"},"destination":{"id":"120d543e-1ebe-3c01-b646-360b7e630c08","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"LogAttribute","comments":"","instanceIdentifier":"9aa9c89d-0190-1000-1a0e-3f6ae6ebb459"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"dd246a54-fec9-3a48-993a-12c43270dab4","instanceIdentifier":"9aaae26e-0190-1000-1a78-b426bad892c1","name":"","source":{"id":"d1e4ca00-f1d2-39dc-96a0-9f79646c9765","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9aa3bded-0190-1000-0246-42085453c1c8"},"destination":{"id":"05fcb5ba-1e0a-3ca6-8aea-99dd5ee5492e","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"ExecuteSQL","comments":"","instanceIdentifier":"9aa86db7-0190-1000-3aa0-e5903ae0287f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"e5052720-b517-3c80-9ab7-0c94e3474773","instanceIdentifier":"9aa3bdff-0190-1000-e783-11a58e3bde72","name":"","source":{"id":"a9e409e7-6d4f-3d4f-9e63-b2c2b4310c96","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"PutSQL","comments":"","instanceIdentifier":"9aa3bdf2-0190-1000-7564-61bb7d445a07"},"destination":{"id":"bf810be0-8b7d-365c-b695-8a3eaa0029a3","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"LogAttribute","comments":"","instanceIdentifier":"9aa3bdf3-0190-1000-524a-5ad9e744f71f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"0583dc6e-dafe-3842-b541-2c1a4d13250b","instanceIdentifier":"9aa3bdf6-0190-1000-f5f3-991adf0ddff4","name":"","source":{"id":"cfcf97d2-de34-33c3-9586-b2aea01c0f95","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"SplitJson","comments":"","instanceIdentifier":"9aa3bde9-0190-1000-da72-0e5c4970625c"},"destination":{"id":"a8e70bcc-3f95-35c0-8a44-c08ba25693d4","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9aa3bdea-0190-1000-970f-61df34948a7d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"01485fda-72fc-3c4e-997b-5929210e34fe","instanceIdentifier":"9aad9f7b-0190-1000-562a-b752fdeb6427","name":"","source":{"id":"334baf0f-a519-39e0-85b9-a94a0293887f","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9aa86db9-0190-1000-381f-fabd7f4ed3e6"},"destination":{"id":"74a00be2-d9c8-31d9-8f19-23c98e5d8db0","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"ExecuteSQL","comments":"","instanceIdentifier":"9aab7989-0190-1000-71c7-3021905b7c50"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"b211abfb-e629-3424-84c7-89b37ba996bd","instanceIdentifier":"9ab4f527-0190-1000-ed5d-b933c29ab36b","name":"","source":{"id":"de45e5e8-a01d-367f-a0cb-8fb430743858","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9ab1a9fe-0190-1000-edee-822b6dc18633"},"destination":{"id":"6bdf2939-59de-3e14-97ed-c3120b9c1e22","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"PutSQL","comments":"","instanceIdentifier":"9aa9c8a0-0190-1000-a59b-82a9400ef7ac"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"ccb2fd8a-0295-3e18-8d9c-ff80649962e1","instanceIdentifier":"9aa3be00-0190-1000-0c5c-c3ca15916349","name":"","source":{"id":"a9e409e7-6d4f-3d4f-9e63-b2c2b4310c96","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"PutSQL","comments":"","instanceIdentifier":"9aa3bdf2-0190-1000-7564-61bb7d445a07"},"destination":{"id":"8262cc8f-deae-3012-abb6-aaa86b14a748","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"PutSQL","comments":"","instanceIdentifier":"9aa3bdef-0190-1000-abf1-05ec7def6749"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"47ec9ba6-3847-32ce-a528-ffdbf3cfff4e","instanceIdentifier":"9ab3b442-0190-1000-703e-4dfbf2ce64d0","name":"","source":{"id":"61180b95-1525-3dfd-b6d7-bd8a619f07f6","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"ExecuteSQL","comments":"","instanceIdentifier":"9ab1a9fc-0190-1000-8e29-21f02ec8c08a"},"destination":{"id":"4376e2f4-fabd-398a-92aa-f690ead9865c","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9ab1a9fd-0190-1000-df58-f09928c32ddf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"a52c68e8-507f-37a5-867d-f1e5935359c2","instanceIdentifier":"9aafd88f-0190-1000-1f25-f04f1adb19b6","name":"","source":{"id":"b5ea1a76-f939-3f90-95a4-be0fba86436d","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9aab798b-0190-1000-622b-e09e10963269"},"destination":{"id":"6b6bc86b-a9f1-389e-8ca9-147c60ec5af0","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"UpdateAttribute","comments":"","instanceIdentifier":"9aa9c89e-0190-1000-e77d-f2a78087418f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"a7d9e853-2339-3136-aacd-4488c1a4fac9","instanceIdentifier":"9ab1c16e-0190-1000-c628-f4a8c29148f5","name":"","source":{"id":"74e9edf7-c5da-3f56-87a1-3db0704c2f55","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"UpdateAttribute","comments":"","instanceIdentifier":"9aa9c89f-0190-1000-c092-f31cc15fabfd"},"destination":{"id":"61180b95-1525-3dfd-b6d7-bd8a619f07f6","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"ExecuteSQL","comments":"","instanceIdentifier":"9ab1a9fc-0190-1000-8e29-21f02ec8c08a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"93c5f3bd-7c3f-3c80-bec3-1861265fab99","instanceIdentifier":"9aae593c-0190-1000-0b16-91e4419b55d8","name":"","source":{"id":"d381dda1-8f25-35a1-9c89-86edad01e484","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9aab798a-0190-1000-c72f-de1564142090"},"destination":{"id":"b5ea1a76-f939-3f90-95a4-be0fba86436d","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9aab798b-0190-1000-622b-e09e10963269"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"f3c2ecd6-060c-3fd8-86d0-69fecbcad7f3","instanceIdentifier":"9aad3a2e-0190-1000-4e42-89dd29c21b7f","name":"","source":{"id":"05fcb5ba-1e0a-3ca6-8aea-99dd5ee5492e","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"ExecuteSQL","comments":"","instanceIdentifier":"9aa86db7-0190-1000-3aa0-e5903ae0287f"},"destination":{"id":"59af0acc-e9b6-315f-ba21-15184265365f","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9aa86db8-0190-1000-1125-872f28c64dc9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"766b0e82-c051-30c5-9564-ef9934f12b04","instanceIdentifier":"9aae49dc-0190-1000-19a3-2bb608a06c5b","name":"","source":{"id":"74a00be2-d9c8-31d9-8f19-23c98e5d8db0","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"ExecuteSQL","comments":"","instanceIdentifier":"9aab7989-0190-1000-71c7-3021905b7c50"},"destination":{"id":"d381dda1-8f25-35a1-9c89-86edad01e484","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9aab798a-0190-1000-c72f-de1564142090"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"c9532c2e-f6e2-3ce5-95cb-5d1c077e78e4","instanceIdentifier":"9aa3bdfb-0190-1000-4771-9a741395c0cc","name":"","source":{"id":"48535bf2-fe4c-3468-a378-d3e5a8ce892e","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9aa3bdee-0190-1000-ee1b-951a1eaecf79"},"destination":{"id":"8262cc8f-deae-3012-abb6-aaa86b14a748","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"PutSQL","comments":"","instanceIdentifier":"9aa3bdef-0190-1000-abf1-05ec7def6749"},"labelIndex":1,"zIndex":0,"selectedRelationships":["insert"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"},{"identifier":"181bc2e0-dea2-3199-9c2d-5cedf49a1cac","instanceIdentifier":"9aa3bdf7-0190-1000-6f59-286fd37a4435","name":"","source":{"id":"b67d0f5d-ba17-3685-94f7-a732a2cf45e1","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"ExecuteSQL","comments":"","instanceIdentifier":"9aa3bdeb-0190-1000-c2e6-9d8b83d0c3be"},"destination":{"id":"83604dad-e5b0-36aa-a3da-16da83db708f","type":"PROCESSOR","groupId":"127aee89-e591-3479-a8ba-972b439ac4c8","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9aa3bdec-0190-1000-64d1-ff32aa321f8b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"127aee89-e591-3479-a8ba-972b439ac4c8"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","instanceIdentifier":"978e4073-0190-1000-fa03-618f3f752857","name":"ORACLE","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"oracle.jdbc.OracleDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":"select 1 as test from dual","Database Connection URL":"jdbc:oracle:thin:S18285/S18285@160.99.12.92:1521/GISLAB_PD","dbcp-time-between-eviction-runs":"-1","Database User":null,"kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"lib/ojdbc8.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9ab8d932-0190-1000-585f-a572c6db0c40"},{"identifier":"e1a53078-3a80-3798-9df4-33327a0a20c1","instanceIdentifier":"8e03e652-0190-1000-04d7-2dbd8ee2d190","name":"MSSQL","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.microsoft.sqlserver.jdbc.SQLServerDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:sqlserver://localhost;port=1433;database=Afghans;trustServerCertificate=true","dbcp-time-between-eviction-runs":"-1","Database User":"sa","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"lib/mssql-jdbc-12.6.3.jre11.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9ab8d932-0190-1000-585f-a572c6db0c40"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}