NiFi flows/GROUP_BRIDGE_DIM.json
{"flowContents":{"identifier":"24460a24-fdce-3b42-a285-78dcc1145278","instanceIdentifier":"9a4b18f7-0190-1000-47b5-cc50a4a11f76","name":"GROUP_BRIDGE_DIM","comments":"","position":{"x":1248.0,"y":1560.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"99c59085-98f9-3500-bcc6-3ad7d5cf0b11","instanceIdentifier":"9a4c15d9-0190-1000-6761-0ebd57d92ebb","name":"ConvertAvroToJSON","comments":"","position":{"x":3024.0,"y":1784.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"7311cfa3-c99e-314e-8bab-9669a918e546","instanceIdentifier":"9a459668-0190-1000-9615-03a70c1661c9","name":"LogAttribute","comments":"","position":{"x":3584.0,"y":1600.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"8c37e60b-6009-36b6-86ba-dc4d0eb76a07","instanceIdentifier":"9a492915-0190-1000-bdd7-0d4029d3af88","name":"PutSQL","comments":"","position":{"x":3576.0,"y":1384.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"INSERT INTO GROUP_DIM(GROUP_DIM_ID,GROUP_ID) VALUES(NULL,'${GroupId}')","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"25a3a7c3-117c-34e9-b1f5-2cecf9dd7bb5","instanceIdentifier":"9a69c1c4-0190-1000-cf02-760d65ebefd7","name":"ConvertAvroToJSON","comments":"","position":{"x":3000.0,"y":944.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"cee92028-0ac7-3284-b11a-8c5c2d153a41","instanceIdentifier":"9a69c1c3-0190-1000-ed29-6cfc793c2d9b","name":"ExecuteSQL","comments":"","position":{"x":2992.0,"y":704.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select GROUP_DIM_ID from GROUP_DIM where GROUP_ID='${GroupId}'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"d8afed34-7e2e-3bf2-abfa-94706acda826","instanceIdentifier":"9a459661-0190-1000-680e-620be6a95f98","name":"EvaluateJsonPath","comments":"","position":{"x":2976.0,"y":472.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","AfghanId":"$.AfghanId","Path Not Found Behavior":"ignore","GroupId":"$.GroupId"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AfghanId":{"name":"AfghanId","displayName":"AfghanId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"GroupId":{"name":"GroupId","displayName":"GroupId","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"e286261b-220c-35bc-b1ea-a088aae86f2d","instanceIdentifier":"9a4c15da-0190-1000-6c69-24dcd079ca3b","name":"EvaluateJsonPath","comments":"","position":{"x":3000.0,"y":1992.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","AfghanIdFound":"$.AFGHAN_DIM_ID","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AfghanIdFound":{"name":"AfghanIdFound","displayName":"AfghanIdFound","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"25328356-06b5-31a0-875c-cb24300fc23f","instanceIdentifier":"9a6ddb49-0190-1000-24a5-90da436c4b3c","name":"LogAttribute","comments":"","position":{"x":3008.0,"y":2456.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"warn","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"04627698-26a6-30f3-bb74-d61b923fb58a","instanceIdentifier":"9a45965e-0190-1000-3fd2-f326b229fec2","name":"ExecuteSQL","comments":"","position":{"x":2976.0,"y":-176.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"e1a53078-3a80-3798-9df4-33327a0a20c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM AfghansInGroups","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"01cd72a6-7829-32f3-9ff9-f8a52aa4dbbf","instanceIdentifier":"9a6b35a5-0190-1000-82a7-0babf85a8a5f","name":"RouteOnAttribute","comments":"","position":{"x":2992.0,"y":1392.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Routing Strategy":"Route to Property name","group_exists":"${GroupDimId:isEmpty():not()}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"group_exists":{"name":"group_exists","displayName":"group_exists","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"5e46d6b9-097e-397d-83e4-43996e55421a","instanceIdentifier":"9a69c1c5-0190-1000-bc70-8f998ab75026","name":"EvaluateJsonPath","comments":"","position":{"x":2992.0,"y":1168.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","GroupDimId":"$.GROUP_DIM_ID","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"GroupDimId":{"name":"GroupDimId","displayName":"GroupDimId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"2073afd0-e609-3fd3-87a4-6f044d9829f1","instanceIdentifier":"9a45965f-0190-1000-8871-a81f76061a54","name":"ConvertAvroToJSON","comments":"","position":{"x":2976.0,"y":32.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"295d9b0c-4cf6-33fa-9b8a-9644a918a3a8","instanceIdentifier":"9a6ddb4a-0190-1000-d489-76d4db3edbef","name":"PutSQL","comments":"","position":{"x":3000.0,"y":2240.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"INSERT INTO GROUP_BRIDGE_DIM(GROUP_DIM_ID,AFGHAN_DIM_ID) VALUES(${GroupDimId:toNumber()},${AfghanIdFound:toNumber()})","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"8038dfbe-bd25-3b56-8869-29fc96a3f116","instanceIdentifier":"9a4c15d8-0190-1000-7a66-e2fabf11ad62","name":"ExecuteSQL","comments":"","position":{"x":3024.0,"y":1576.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select AFGHAN_DIM_ID from AFGHAN_DIM where AFGHAN_ID='${AfghanId}' and VALID_UNTIL is NULL and ROWNUM = 1","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"2627c791-6522-3eef-9280-9b70565c75a6","instanceIdentifier":"9a459660-0190-1000-a684-3200277909a4","name":"SplitJson","comments":"","position":{"x":2976.0,"y":248.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"093371aa-33e5-350f-8af2-acdf41562587","instanceIdentifier":"9a6b55bf-0190-1000-e5b4-66dc6f24a2f0","name":"","source":{"id":"5e46d6b9-097e-397d-83e4-43996e55421a","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a69c1c5-0190-1000-bc70-8f998ab75026"},"destination":{"id":"01cd72a6-7829-32f3-9ff9-f8a52aa4dbbf","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9a6b35a5-0190-1000-82a7-0babf85a8a5f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"91dc7a0f-65dc-336f-8ef2-53c63eea81c7","instanceIdentifier":"9a45966c-0190-1000-0d8d-6189d4e937a3","name":"","source":{"id":"2073afd0-e609-3fd3-87a4-6f044d9829f1","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a45965f-0190-1000-8871-a81f76061a54"},"destination":{"id":"2627c791-6522-3eef-9280-9b70565c75a6","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"SplitJson","comments":"","instanceIdentifier":"9a459660-0190-1000-a684-3200277909a4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"78679458-d442-3a35-8601-c1f9a523b121","instanceIdentifier":"9a45966d-0190-1000-7fab-a7e4f911aa80","name":"","source":{"id":"2627c791-6522-3eef-9280-9b70565c75a6","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"SplitJson","comments":"","instanceIdentifier":"9a459660-0190-1000-a684-3200277909a4"},"destination":{"id":"d8afed34-7e2e-3bf2-abfa-94706acda826","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a459661-0190-1000-680e-620be6a95f98"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"37a70fef-960b-345b-9750-22d1819df3c0","instanceIdentifier":"9a6e1939-0190-1000-ef44-553437b4d612","name":"","source":{"id":"e286261b-220c-35bc-b1ea-a088aae86f2d","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a4c15da-0190-1000-6c69-24dcd079ca3b"},"destination":{"id":"295d9b0c-4cf6-33fa-9b8a-9644a918a3a8","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"PutSQL","comments":"","instanceIdentifier":"9a6ddb4a-0190-1000-d489-76d4db3edbef"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"25922cc4-cea4-3310-bfee-503e4aaae9e7","instanceIdentifier":"9a6ee0e7-0190-1000-06cc-3294a2f11930","name":"","source":{"id":"8c37e60b-6009-36b6-86ba-dc4d0eb76a07","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"PutSQL","comments":"","instanceIdentifier":"9a492915-0190-1000-bdd7-0d4029d3af88"},"destination":{"id":"cee92028-0ac7-3284-b11a-8c5c2d153a41","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a69c1c3-0190-1000-ed29-6cfc793c2d9b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"42d4c47d-f2fe-37f7-b76b-608bf32af011","instanceIdentifier":"9a6a7e3f-0190-1000-dad0-1dcce3f606a3","name":"","source":{"id":"cee92028-0ac7-3284-b11a-8c5c2d153a41","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a69c1c3-0190-1000-ed29-6cfc793c2d9b"},"destination":{"id":"25a3a7c3-117c-34e9-b1f5-2cecf9dd7bb5","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a69c1c4-0190-1000-cf02-760d65ebefd7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"2f872614-64db-3e71-971d-d67e739acdf8","instanceIdentifier":"9a6b171d-0190-1000-ebf3-0fba467b44bb","name":"","source":{"id":"d8afed34-7e2e-3bf2-abfa-94706acda826","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a459661-0190-1000-680e-620be6a95f98"},"destination":{"id":"cee92028-0ac7-3284-b11a-8c5c2d153a41","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a69c1c3-0190-1000-ed29-6cfc793c2d9b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"003fd093-ac7b-310a-b048-c1d14c2be766","instanceIdentifier":"9a45966b-0190-1000-a86b-70942578a73d","name":"","source":{"id":"04627698-26a6-30f3-bb74-d61b923fb58a","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a45965e-0190-1000-3fd2-f326b229fec2"},"destination":{"id":"2073afd0-e609-3fd3-87a4-6f044d9829f1","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a45965f-0190-1000-8871-a81f76061a54"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"a1b9dfad-e899-302c-8f20-d1ce4b329113","instanceIdentifier":"9a4d275a-0190-1000-1d2b-902ae1bc9e1e","name":"","source":{"id":"99c59085-98f9-3500-bcc6-3ad7d5cf0b11","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a4c15d9-0190-1000-6761-0ebd57d92ebb"},"destination":{"id":"e286261b-220c-35bc-b1ea-a088aae86f2d","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a4c15da-0190-1000-6c69-24dcd079ca3b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"b3dff604-a26a-3495-901b-8853c724fcaa","instanceIdentifier":"9a4d18e7-0190-1000-269c-df728267735d","name":"","source":{"id":"8038dfbe-bd25-3b56-8869-29fc96a3f116","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a4c15d8-0190-1000-7a66-e2fabf11ad62"},"destination":{"id":"99c59085-98f9-3500-bcc6-3ad7d5cf0b11","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a4c15d9-0190-1000-6761-0ebd57d92ebb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"54a73b0b-f0d8-343a-ac9b-9eee8f6b91e8","instanceIdentifier":"9a4ac9e2-0190-1000-96f9-a3fef05db175","name":"","source":{"id":"8c37e60b-6009-36b6-86ba-dc4d0eb76a07","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"PutSQL","comments":"","instanceIdentifier":"9a492915-0190-1000-bdd7-0d4029d3af88"},"destination":{"id":"7311cfa3-c99e-314e-8bab-9669a918e546","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"LogAttribute","comments":"","instanceIdentifier":"9a459668-0190-1000-9615-03a70c1661c9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"08936380-b54b-3e23-af75-7a5b3377e6e2","instanceIdentifier":"9a6d25ee-0190-1000-2d00-a4a87e32e115","name":"","source":{"id":"01cd72a6-7829-32f3-9ff9-f8a52aa4dbbf","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9a6b35a5-0190-1000-82a7-0babf85a8a5f"},"destination":{"id":"8c37e60b-6009-36b6-86ba-dc4d0eb76a07","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"PutSQL","comments":"","instanceIdentifier":"9a492915-0190-1000-bdd7-0d4029d3af88"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"68b20795-4ed9-3506-bf34-bc9a9bc2c6d0","instanceIdentifier":"9a6da7c1-0190-1000-db3b-f2af0c7d0f98","name":"","source":{"id":"01cd72a6-7829-32f3-9ff9-f8a52aa4dbbf","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9a6b35a5-0190-1000-82a7-0babf85a8a5f"},"destination":{"id":"8038dfbe-bd25-3b56-8869-29fc96a3f116","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a4c15d8-0190-1000-7a66-e2fabf11ad62"},"labelIndex":1,"zIndex":0,"selectedRelationships":["group_exists"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"8bd39cae-8d65-3170-9693-10483cdb0fae","instanceIdentifier":"9a6a9635-0190-1000-a20f-318bde21ec82","name":"","source":{"id":"25a3a7c3-117c-34e9-b1f5-2cecf9dd7bb5","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a69c1c4-0190-1000-cf02-760d65ebefd7"},"destination":{"id":"5e46d6b9-097e-397d-83e4-43996e55421a","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a69c1c5-0190-1000-bc70-8f998ab75026"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"},{"identifier":"d4d4016f-2a36-374b-99a2-d8e6f6e54f56","instanceIdentifier":"9a6df1a4-0190-1000-0dda-88ad41303e0a","name":"","source":{"id":"295d9b0c-4cf6-33fa-9b8a-9644a918a3a8","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"PutSQL","comments":"","instanceIdentifier":"9a6ddb4a-0190-1000-d489-76d4db3edbef"},"destination":{"id":"25328356-06b5-31a0-875c-cb24300fc23f","type":"PROCESSOR","groupId":"24460a24-fdce-3b42-a285-78dcc1145278","name":"LogAttribute","comments":"","instanceIdentifier":"9a6ddb49-0190-1000-24a5-90da436c4b3c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"24460a24-fdce-3b42-a285-78dcc1145278"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd":{"identifier":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","name":"ORACLE"},"e1a53078-3a80-3798-9df4-33327a0a20c1":{"identifier":"e1a53078-3a80-3798-9df4-33327a0a20c1","name":"MSSQL"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}