NiFi flows/LOCATION_DIM.json
{"flowContents":{"identifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","instanceIdentifier":"99b4780e-0190-1000-db15-cdc94abd77ab","name":"LOCATION_DIM","comments":"","position":{"x":1248.0,"y":576.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c7197c50-cb7b-3d2c-a1d0-74196199e7dc","instanceIdentifier":"99721aec-0190-1000-e2e4-6b5192f189f5","name":"PutSQL","comments":"","position":{"x":1520.0,"y":1768.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"INSERT INTO LOCATION_DIM(LOCATION_DIM_ID,LOCATION_ID,LATITUDE,LONGITUDE,LOCATION_NAME,COUNTRY,REGION) VALUES(NULL,'${LocationId}',${Latitude},${Longitude},'${LocationName}','${Country}','${Region}')","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"d558b7fb-190d-3171-84c5-0f5e440efd88","instanceIdentifier":"99721ae9-0190-1000-d32f-02d971685917","name":"ConvertAvroToJSON","comments":"","position":{"x":1520.0,"y":1016.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"e2d059b3-e121-31b2-b49e-4462fd180072","instanceIdentifier":"99721ae4-0190-1000-8067-8c99c5224bc5","name":"ExecuteSQL","comments":"","position":{"x":1520.0,"y":-104.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"e1a53078-3a80-3798-9df4-33327a0a20c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM Locations","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"8bc279c2-f302-3e6b-b32b-b42e6ef18e4d","instanceIdentifier":"99721aed-0190-1000-5c34-8933f7c036e3","name":"LogAttribute","comments":"","position":{"x":1520.0,"y":2008.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"8b80e4bc-ca08-3a71-925c-58aa6667b5c1","instanceIdentifier":"99721aea-0190-1000-bc52-59335933ff0e","name":"EvaluateJsonPath","comments":"","position":{"x":1520.0,"y":1264.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"LongitudeR":"$.LONGITUDE","Destination":"flowfile-attribute","CountryR":"$.COUNTRY","LocationNameR":"$.LOCATION_NAME","Max String Length":"20 MB","Return Type":"auto-detect","LocationIdR":"$.LOCATION_ID","Null Value Representation":"empty string","LocationDimIdR":"$.LOCATION_DIM_ID","LatitudeR":"$.LATITUDE","RegionR":"$.REGION","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"LongitudeR":{"name":"LongitudeR","displayName":"LongitudeR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CountryR":{"name":"CountryR","displayName":"CountryR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"LocationNameR":{"name":"LocationNameR","displayName":"LocationNameR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"LocationIdR":{"name":"LocationIdR","displayName":"LocationIdR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"LocationDimIdR":{"name":"LocationDimIdR","displayName":"LocationDimIdR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"LatitudeR":{"name":"LatitudeR","displayName":"LatitudeR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"RegionR":{"name":"RegionR","displayName":"RegionR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"ae8b9475-0056-32cd-8777-84b93508b052","instanceIdentifier":"99721ae5-0190-1000-05a4-e7303e623195","name":"ConvertAvroToJSON","comments":"","position":{"x":1520.0,"y":120.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"faeda55f-350e-3a66-967a-68b1496bb1f7","instanceIdentifier":"99721ae6-0190-1000-938c-0e18f3dd2833","name":"SplitJson","comments":"","position":{"x":1520.0,"y":336.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"a3932d73-c5a4-3a70-be45-772275c8b272","instanceIdentifier":"99721aeb-0190-1000-aa37-d6082353c538","name":"RouteOnAttribute","comments":"","position":{"x":1520.0,"y":1520.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Routing Strategy":"Route to Property name","insert":"${LocationDimIdR:isEmpty()}","no_change":"${LocationId:equals(${LocationIdR}):and(\n${LocationName:equals(${LocationNameR}):and(\n${Region:equals(${RegionR}):and(\n${Country:equals(${CountryR}):and(\n${Latitude:equals(${LatitudeR}):and(\n${Longitude:equals(${LongitudeR}):and(\n${LocaationDimIdR:isEmpty():not()\n})})})})})})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"insert":{"name":"insert","displayName":"insert","identifiesControllerService":false,"sensitive":false,"dynamic":true},"no_change":{"name":"no_change","displayName":"no_change","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"b18772c8-a242-37be-b180-a1e963a866c8","instanceIdentifier":"99721aee-0190-1000-a668-1b58f868ec03","name":"LogAttribute","comments":"","position":{"x":1048.0,"y":1768.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"4c29f3ff-5a5a-3334-bd54-f86be0dd3d0b","instanceIdentifier":"99721af0-0190-1000-64c9-7673e12f1981","name":"LogAttribute","comments":"","position":{"x":1992.0,"y":1520.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"937294d8-23e5-35dd-8e73-bc7e2e790311","instanceIdentifier":"99721aef-0190-1000-17c8-81a6499c13f1","name":"PutSQL","comments":"","position":{"x":2144.0,"y":1768.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"UPDATE LOCATION_DIM\nSET VALID_UNTIL = '${now():format('dd-MMM-yy')}'\nWHERE LOCATION_DIM_ID = ${LocationDimIdR}","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"f7dd4fa6-e9a0-3a30-93c8-506d69329797","instanceIdentifier":"99721ae7-0190-1000-a932-af062caac2f8","name":"EvaluateJsonPath","comments":"","position":{"x":1520.0,"y":560.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","LocationId":"$.LocationId","Country":"$.Country","Region":"$.Region","Null Value Representation":"empty string","Latitude":"$.Latitude","Longitude":"$.Longitude","Path Not Found Behavior":"ignore","LocationName":"$.Name"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"LocationId":{"name":"LocationId","displayName":"LocationId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Country":{"name":"Country","displayName":"Country","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Latitude":{"name":"Latitude","displayName":"Latitude","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Longitude":{"name":"Longitude","displayName":"Longitude","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"LocationName":{"name":"LocationName","displayName":"LocationName","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"ba0ded51-02f3-3ad4-9d22-5cad01990ca0","instanceIdentifier":"99721ae8-0190-1000-74a3-21f073494bdd","name":"ExecuteSQL","comments":"","position":{"x":1520.0,"y":800.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select * from LOCATION_DIM where LOCATION_ID='${LocationId}' and VALID_UNTIL is NULL","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ac005070-6f4d-3da2-90b5-930426155a8f","instanceIdentifier":"99721af1-0190-1000-f385-9c4f46a9295b","name":"","source":{"id":"e2d059b3-e121-31b2-b49e-4462fd180072","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"ExecuteSQL","comments":"","instanceIdentifier":"99721ae4-0190-1000-8067-8c99c5224bc5"},"destination":{"id":"ae8b9475-0056-32cd-8777-84b93508b052","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"99721ae5-0190-1000-05a4-e7303e623195"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"788173f6-42fb-3ce4-a4d6-9433054cd753","instanceIdentifier":"99721af7-0190-1000-4fd5-c9bd5c37d398","name":"","source":{"id":"8b80e4bc-ca08-3a71-925c-58aa6667b5c1","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"99721aea-0190-1000-bc52-59335933ff0e"},"destination":{"id":"a3932d73-c5a4-3a70-be45-772275c8b272","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"99721aeb-0190-1000-aa37-d6082353c538"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"37b75f12-b00e-38fe-978d-e207600bfe09","instanceIdentifier":"99721afb-0190-1000-c611-d699748d803b","name":"","source":{"id":"a3932d73-c5a4-3a70-be45-772275c8b272","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"99721aeb-0190-1000-aa37-d6082353c538"},"destination":{"id":"937294d8-23e5-35dd-8e73-bc7e2e790311","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"PutSQL","comments":"","instanceIdentifier":"99721aef-0190-1000-17c8-81a6499c13f1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"9f018229-e9e4-32c4-9e94-35dbd2930e0b","instanceIdentifier":"99721afd-0190-1000-fc24-22ab0af2bff8","name":"","source":{"id":"937294d8-23e5-35dd-8e73-bc7e2e790311","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"PutSQL","comments":"","instanceIdentifier":"99721aef-0190-1000-17c8-81a6499c13f1"},"destination":{"id":"c7197c50-cb7b-3d2c-a1d0-74196199e7dc","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"PutSQL","comments":"","instanceIdentifier":"99721aec-0190-1000-e2e4-6b5192f189f5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"4ede1f35-cb6f-3471-b99f-1ae6992121c3","instanceIdentifier":"99721af9-0190-1000-8171-47721d65ed24","name":"","source":{"id":"c7197c50-cb7b-3d2c-a1d0-74196199e7dc","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"PutSQL","comments":"","instanceIdentifier":"99721aec-0190-1000-e2e4-6b5192f189f5"},"destination":{"id":"8bc279c2-f302-3e6b-b32b-b42e6ef18e4d","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"LogAttribute","comments":"","instanceIdentifier":"99721aed-0190-1000-5c34-8933f7c036e3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"fcd1a631-de59-37fd-bfa0-6bc53556d1b0","instanceIdentifier":"99721afc-0190-1000-e34e-d875e9dd13df","name":"","source":{"id":"937294d8-23e5-35dd-8e73-bc7e2e790311","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"PutSQL","comments":"","instanceIdentifier":"99721aef-0190-1000-17c8-81a6499c13f1"},"destination":{"id":"4c29f3ff-5a5a-3334-bd54-f86be0dd3d0b","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"LogAttribute","comments":"","instanceIdentifier":"99721af0-0190-1000-64c9-7673e12f1981"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"cd7bad85-97d4-3216-9df7-5487528ca4bd","instanceIdentifier":"99721af2-0190-1000-1cdd-62c66db061dd","name":"","source":{"id":"ae8b9475-0056-32cd-8777-84b93508b052","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"99721ae5-0190-1000-05a4-e7303e623195"},"destination":{"id":"faeda55f-350e-3a66-967a-68b1496bb1f7","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"SplitJson","comments":"","instanceIdentifier":"99721ae6-0190-1000-938c-0e18f3dd2833"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"8951508a-0ba3-3591-b1c6-e94b6b98a3c1","instanceIdentifier":"99721af8-0190-1000-ce53-f9a5f7f43470","name":"","source":{"id":"a3932d73-c5a4-3a70-be45-772275c8b272","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"99721aeb-0190-1000-aa37-d6082353c538"},"destination":{"id":"c7197c50-cb7b-3d2c-a1d0-74196199e7dc","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"PutSQL","comments":"","instanceIdentifier":"99721aec-0190-1000-e2e4-6b5192f189f5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["insert"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"5d9dbd85-aa9a-313b-a078-68088f9514ad","instanceIdentifier":"99721af6-0190-1000-b748-4c0320448720","name":"","source":{"id":"d558b7fb-190d-3171-84c5-0f5e440efd88","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"99721ae9-0190-1000-d32f-02d971685917"},"destination":{"id":"8b80e4bc-ca08-3a71-925c-58aa6667b5c1","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"99721aea-0190-1000-bc52-59335933ff0e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"87919778-c622-3af1-982a-c7a9a1bb3870","instanceIdentifier":"99721af5-0190-1000-8277-0d5a7c7b9f43","name":"","source":{"id":"f7dd4fa6-e9a0-3a30-93c8-506d69329797","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"99721ae7-0190-1000-a932-af062caac2f8"},"destination":{"id":"ba0ded51-02f3-3ad4-9d22-5cad01990ca0","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"ExecuteSQL","comments":"","instanceIdentifier":"99721ae8-0190-1000-74a3-21f073494bdd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"1498ea7d-b5c8-36af-a379-44adaf197dfc","instanceIdentifier":"99721af3-0190-1000-6e38-c064e93bb994","name":"","source":{"id":"faeda55f-350e-3a66-967a-68b1496bb1f7","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"SplitJson","comments":"","instanceIdentifier":"99721ae6-0190-1000-938c-0e18f3dd2833"},"destination":{"id":"f7dd4fa6-e9a0-3a30-93c8-506d69329797","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"99721ae7-0190-1000-a932-af062caac2f8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"dabf5470-3334-3075-8b8b-e4d4da5e4182","instanceIdentifier":"99721afa-0190-1000-81a9-f2b659577698","name":"","source":{"id":"a3932d73-c5a4-3a70-be45-772275c8b272","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"99721aeb-0190-1000-aa37-d6082353c538"},"destination":{"id":"b18772c8-a242-37be-b180-a1e963a866c8","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"LogAttribute","comments":"","instanceIdentifier":"99721aee-0190-1000-a668-1b58f868ec03"},"labelIndex":1,"zIndex":0,"selectedRelationships":["no_change"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"},{"identifier":"237bcb84-73e3-37cc-88a2-a5c227e878ff","instanceIdentifier":"99721af4-0190-1000-2693-62beeec3c8de","name":"","source":{"id":"ba0ded51-02f3-3ad4-9d22-5cad01990ca0","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"ExecuteSQL","comments":"","instanceIdentifier":"99721ae8-0190-1000-74a3-21f073494bdd"},"destination":{"id":"d558b7fb-190d-3171-84c5-0f5e440efd88","type":"PROCESSOR","groupId":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"99721ae9-0190-1000-d32f-02d971685917"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff3bf851-b9d0-39aa-9c66-6c7f49ef1d0c"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","instanceIdentifier":"978e4073-0190-1000-fa03-618f3f752857","name":"ORACLE","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"oracle.jdbc.OracleDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":"select 1 as test from dual","Database Connection URL":"jdbc:oracle:thin:S18285/S18285@160.99.12.92:1521/GISLAB_PD","dbcp-time-between-eviction-runs":"-1","Database User":null,"kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"lib/ojdbc8.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"99b4780e-0190-1000-db15-cdc94abd77ab"},{"identifier":"e1a53078-3a80-3798-9df4-33327a0a20c1","instanceIdentifier":"8e03e652-0190-1000-04d7-2dbd8ee2d190","name":"MSSQL","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.microsoft.sqlserver.jdbc.SQLServerDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:sqlserver://localhost;port=1433;database=Afghans;trustServerCertificate=true","dbcp-time-between-eviction-runs":"-1","Database User":"sa","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"lib/mssql-jdbc-12.6.3.jre11.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"99b4780e-0190-1000-db15-cdc94abd77ab"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}