NiFi flows/MILITARY_UNIT_DIM.json
{"flowContents":{"identifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","instanceIdentifier":"9a195eae-0190-1000-f4d7-1f27b92c2371","name":"MILITARY_UNIT_DIM","comments":"","position":{"x":1248.0,"y":56.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"56c6ec38-72f5-37a1-b2ea-bac9be8bd83f","instanceIdentifier":"9a0d909e-0190-1000-3549-464c7e098ca2","name":"LogAttribute","comments":"","position":{"x":3520.0,"y":1824.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"454dfced-4cbc-3fdf-a78d-20875b70514a","instanceIdentifier":"9a0d9097-0190-1000-7e6b-6b9da922d64c","name":"ConvertAvroToJSON","comments":"","position":{"x":3048.0,"y":1320.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"9bd81164-2ad0-3850-b9d9-c6fed6848d0c","instanceIdentifier":"9a0d9095-0190-1000-3cb7-1bc091831e4f","name":"EvaluateJsonPath","comments":"","position":{"x":3048.0,"y":864.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","UnitId":"$.UnitId","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","CommanderId":"$.CommanderId","Path Not Found Behavior":"ignore","Name":"$.Name"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"UnitId":{"name":"UnitId","displayName":"UnitId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CommanderId":{"name":"CommanderId","displayName":"CommanderId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Name":{"name":"Name","displayName":"Name","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"eedc4d44-eef6-3afc-8823-b9e582ae5e77","instanceIdentifier":"9a0d909a-0190-1000-d242-ab7f432d4741","name":"PutSQL","comments":"","position":{"x":3048.0,"y":2072.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"INSERT INTO MILITARY_UNIT_DIM(UNIT_DIM_ID,UNIT_ID,UNIT_NAME,COMMANDER_ID) VALUES(NULL,'${UnitId}','${Name}',${CommanderIdFound:toNumber()})","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"cacd03e0-26b4-3b66-a101-d78c94724b25","instanceIdentifier":"9a0d9096-0190-1000-f410-e754006c1913","name":"ExecuteSQL","comments":"","position":{"x":3048.0,"y":1104.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select * from MILITARY_UNIT_DIM where UNIT_ID='${UnitId}' and VALID_UNTIL is NULL","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"f2bac2b1-cc29-3d63-9685-301d465a6db7","instanceIdentifier":"9a0d909b-0190-1000-d512-43f3a38c711e","name":"LogAttribute","comments":"","position":{"x":3048.0,"y":2312.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"544f838e-aa6e-3fd8-b7a3-ee0d3ac3d870","instanceIdentifier":"9a0d9098-0190-1000-10b0-a0ebc17d11ab","name":"EvaluateJsonPath","comments":"","position":{"x":3048.0,"y":1568.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"UnitNameR":"$.UNIT_NAME","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","CommanderIdR":"$.COMMANDER_ID","UnitIdR":"$.UNIT_ID","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","UnitDimIdR":"$.UNIT_DIM_ID"},"propertyDescriptors":{"UnitNameR":{"name":"UnitNameR","displayName":"UnitNameR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CommanderIdR":{"name":"CommanderIdR","displayName":"CommanderIdR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"UnitIdR":{"name":"UnitIdR","displayName":"UnitIdR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"UnitDimIdR":{"name":"UnitDimIdR","displayName":"UnitDimIdR","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"5fe35e9e-3b7f-3c74-b689-b4fd9a31ab0c","instanceIdentifier":"9a273c7a-0190-1000-0fc6-dd3f8f8d2fcd","name":"ExecuteSQL","comments":"","position":{"x":3776.0,"y":1112.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select PERSONNEL_DIM_ID from MILITARY_PERSONNEL_DIM where PERSONNEL_ID='${CommanderId}' and VALID_UNTIL is NULL","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"32669414-9df9-37a5-a912-932e56481c20","instanceIdentifier":"9a0d9093-0190-1000-15b8-39788228d6b6","name":"ConvertAvroToJSON","comments":"","position":{"x":3048.0,"y":424.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"70eb7d0b-02b0-36ed-b079-2d77541c2157","instanceIdentifier":"9a0d909c-0190-1000-e07a-653b9da493fc","name":"LogAttribute","comments":"","position":{"x":2576.0,"y":2072.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"e65f7b17-9ee1-3a49-a39d-e1dbb101f953","instanceIdentifier":"9a0d909d-0190-1000-eb81-e2ba2a06de54","name":"PutSQL","comments":"","position":{"x":3672.0,"y":2072.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"UPDATE MILITARY_UNIT_DIM\nSET VALID_UNTIL = '${now():format('dd-MMM-yy')}'\nWHERE UNIT_DIM_ID = ${UnitDimIdR}","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"7d5a17cf-f0fc-3e12-8d59-3624d49b6d1b","instanceIdentifier":"9a28bd06-0190-1000-311a-f6bf008623d1","name":"EvaluateJsonPath","comments":"","position":{"x":3792.0,"y":1544.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","CommanderIdFound":"$.PERSONNEL_DIM_ID","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CommanderIdFound":{"name":"CommanderIdFound","displayName":"CommanderIdFound","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"896bc3c5-0f53-31ff-b322-711da9804d6f","instanceIdentifier":"9a0d9092-0190-1000-d4db-760e30eae8a3","name":"ExecuteSQL","comments":"","position":{"x":3048.0,"y":208.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"e1a53078-3a80-3798-9df4-33327a0a20c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM Units","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"8bb5ab51-4176-3cdc-9dff-d63d3759d8c4","instanceIdentifier":"9a0d9094-0190-1000-410e-941553131d5c","name":"SplitJson","comments":"","position":{"x":3048.0,"y":640.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"c2b4bf93-a28e-3c25-8103-2fe0f4c11b55","instanceIdentifier":"9a0d9099-0190-1000-de44-f2e487aa1da6","name":"RouteOnAttribute","comments":"","position":{"x":3048.0,"y":1824.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Routing Strategy":"Route to Property name","insert":"${UnitDimIdR:isEmpty()}","no_change":"${UnitId:equals(${UnitIdR}):and(\n${Name:equals(${UnitNameR}):and(\n${CommanderId:equals(${CommanderIdFound}):and(\n${UnitDimIdR:isEmpty():not()\n})})})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"insert":{"name":"insert","displayName":"insert","identifiesControllerService":false,"sensitive":false,"dynamic":true},"no_change":{"name":"no_change","displayName":"no_change","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"4f265c53-fefb-3f89-837d-cf5fdf7c8ea5","instanceIdentifier":"9a287166-0190-1000-96e3-59818ab0a059","name":"ConvertAvroToJSON","comments":"","position":{"x":3896.0,"y":1336.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"dc8281e5-0398-390d-bd3d-c2e2e11e895d","instanceIdentifier":"9a28dbc8-0190-1000-39b2-13c31de6ffa3","name":"","source":{"id":"4f265c53-fefb-3f89-837d-cf5fdf7c8ea5","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a287166-0190-1000-96e3-59818ab0a059"},"destination":{"id":"7d5a17cf-f0fc-3e12-8d59-3624d49b6d1b","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a28bd06-0190-1000-311a-f6bf008623d1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"c7089236-4d4b-3267-b095-58689311a23e","instanceIdentifier":"9a2889f1-0190-1000-d7ff-2c524b058e71","name":"","source":{"id":"5fe35e9e-3b7f-3c74-b689-b4fd9a31ab0c","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a273c7a-0190-1000-0fc6-dd3f8f8d2fcd"},"destination":{"id":"4f265c53-fefb-3f89-837d-cf5fdf7c8ea5","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a287166-0190-1000-96e3-59818ab0a059"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"a5a6798b-56b6-3c86-bbea-18ad4e0fd5af","instanceIdentifier":"9a29fe6c-0190-1000-fee4-b3cea71f0178","name":"","source":{"id":"544f838e-aa6e-3fd8-b7a3-ee0d3ac3d870","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a0d9098-0190-1000-10b0-a0ebc17d11ab"},"destination":{"id":"5fe35e9e-3b7f-3c74-b689-b4fd9a31ab0c","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a273c7a-0190-1000-0fc6-dd3f8f8d2fcd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"e2a15065-abae-3f6e-a239-b2adfd530c7f","instanceIdentifier":"9a0d90a7-0190-1000-4b8b-41d4a3aacb93","name":"","source":{"id":"eedc4d44-eef6-3afc-8823-b9e582ae5e77","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"PutSQL","comments":"","instanceIdentifier":"9a0d909a-0190-1000-d242-ab7f432d4741"},"destination":{"id":"f2bac2b1-cc29-3d63-9685-301d465a6db7","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"LogAttribute","comments":"","instanceIdentifier":"9a0d909b-0190-1000-d512-43f3a38c711e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"e93911e8-b3df-3d96-ae41-106164e49af6","instanceIdentifier":"9a0d90a9-0190-1000-f366-50202ea17cf4","name":"","source":{"id":"c2b4bf93-a28e-3c25-8103-2fe0f4c11b55","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9a0d9099-0190-1000-de44-f2e487aa1da6"},"destination":{"id":"e65f7b17-9ee1-3a49-a39d-e1dbb101f953","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"PutSQL","comments":"","instanceIdentifier":"9a0d909d-0190-1000-eb81-e2ba2a06de54"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"0957629a-8a90-3c91-b985-d045486d41fd","instanceIdentifier":"9a0d90a4-0190-1000-2384-bb3c6a76e049","name":"","source":{"id":"454dfced-4cbc-3fdf-a78d-20875b70514a","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a0d9097-0190-1000-7e6b-6b9da922d64c"},"destination":{"id":"544f838e-aa6e-3fd8-b7a3-ee0d3ac3d870","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a0d9098-0190-1000-10b0-a0ebc17d11ab"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"9fd1b6d0-214d-378a-b3ed-38b4f8736568","instanceIdentifier":"9a0d90a1-0190-1000-266f-45ee89a11087","name":"","source":{"id":"8bb5ab51-4176-3cdc-9dff-d63d3759d8c4","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"SplitJson","comments":"","instanceIdentifier":"9a0d9094-0190-1000-410e-941553131d5c"},"destination":{"id":"9bd81164-2ad0-3850-b9d9-c6fed6848d0c","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a0d9095-0190-1000-3cb7-1bc091831e4f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"42d48b3b-affd-3cca-92ab-3de27de1bc16","instanceIdentifier":"9a0d90ab-0190-1000-2d8f-6171da47ba81","name":"","source":{"id":"e65f7b17-9ee1-3a49-a39d-e1dbb101f953","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"PutSQL","comments":"","instanceIdentifier":"9a0d909d-0190-1000-eb81-e2ba2a06de54"},"destination":{"id":"eedc4d44-eef6-3afc-8823-b9e582ae5e77","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"PutSQL","comments":"","instanceIdentifier":"9a0d909a-0190-1000-d242-ab7f432d4741"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"58eceed5-0c17-3f00-99f6-fa71d4926654","instanceIdentifier":"9a0d90a2-0190-1000-f48e-b9a56f771a46","name":"","source":{"id":"cacd03e0-26b4-3b66-a101-d78c94724b25","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a0d9096-0190-1000-f410-e754006c1913"},"destination":{"id":"454dfced-4cbc-3fdf-a78d-20875b70514a","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a0d9097-0190-1000-7e6b-6b9da922d64c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"03956a4b-85fd-30d2-b09b-b6dff52a0ecf","instanceIdentifier":"9a0d90a3-0190-1000-e39a-e821d2e00570","name":"","source":{"id":"9bd81164-2ad0-3850-b9d9-c6fed6848d0c","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a0d9095-0190-1000-3cb7-1bc091831e4f"},"destination":{"id":"cacd03e0-26b4-3b66-a101-d78c94724b25","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a0d9096-0190-1000-f410-e754006c1913"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"929d8b36-e415-38c3-a080-6405ae8d0309","instanceIdentifier":"9a0d90a0-0190-1000-7442-c9c6a4e535cc","name":"","source":{"id":"32669414-9df9-37a5-a912-932e56481c20","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a0d9093-0190-1000-15b8-39788228d6b6"},"destination":{"id":"8bb5ab51-4176-3cdc-9dff-d63d3759d8c4","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"SplitJson","comments":"","instanceIdentifier":"9a0d9094-0190-1000-410e-941553131d5c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"4a134ec2-502b-3073-8875-9cabb3b6ba23","instanceIdentifier":"9a0d909f-0190-1000-1d73-ac2121747be1","name":"","source":{"id":"896bc3c5-0f53-31ff-b322-711da9804d6f","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a0d9092-0190-1000-d4db-760e30eae8a3"},"destination":{"id":"32669414-9df9-37a5-a912-932e56481c20","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a0d9093-0190-1000-15b8-39788228d6b6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"57d4d381-f497-39eb-bae3-b7f7bcea330d","instanceIdentifier":"9a0d90a6-0190-1000-f67a-2322e18fcd22","name":"","source":{"id":"c2b4bf93-a28e-3c25-8103-2fe0f4c11b55","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9a0d9099-0190-1000-de44-f2e487aa1da6"},"destination":{"id":"eedc4d44-eef6-3afc-8823-b9e582ae5e77","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"PutSQL","comments":"","instanceIdentifier":"9a0d909a-0190-1000-d242-ab7f432d4741"},"labelIndex":1,"zIndex":0,"selectedRelationships":["insert"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"fbfea69f-c1cc-30bb-92e4-d5acf410a2b1","instanceIdentifier":"9a0d90aa-0190-1000-0f35-3f00b7a4c63d","name":"","source":{"id":"e65f7b17-9ee1-3a49-a39d-e1dbb101f953","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"PutSQL","comments":"","instanceIdentifier":"9a0d909d-0190-1000-eb81-e2ba2a06de54"},"destination":{"id":"56c6ec38-72f5-37a1-b2ea-bac9be8bd83f","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"LogAttribute","comments":"","instanceIdentifier":"9a0d909e-0190-1000-3549-464c7e098ca2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"028f38ad-6b34-337a-b1a0-da1a741908f0","instanceIdentifier":"9a2a2eb7-0190-1000-c34a-bcb1da032163","name":"","source":{"id":"7d5a17cf-f0fc-3e12-8d59-3624d49b6d1b","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a28bd06-0190-1000-311a-f6bf008623d1"},"destination":{"id":"c2b4bf93-a28e-3c25-8103-2fe0f4c11b55","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9a0d9099-0190-1000-de44-f2e487aa1da6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"},{"identifier":"02d1da9c-a1c1-3f3a-894a-f5fdc025227d","instanceIdentifier":"9a0d90a8-0190-1000-00db-f846e6bcabdd","name":"","source":{"id":"c2b4bf93-a28e-3c25-8103-2fe0f4c11b55","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9a0d9099-0190-1000-de44-f2e487aa1da6"},"destination":{"id":"70eb7d0b-02b0-36ed-b079-2d77541c2157","type":"PROCESSOR","groupId":"12349e06-1c50-3c7d-99c9-2e424d19f9f1","name":"LogAttribute","comments":"","instanceIdentifier":"9a0d909c-0190-1000-e07a-653b9da493fc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["no_change"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12349e06-1c50-3c7d-99c9-2e424d19f9f1"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd":{"identifier":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","name":"ORACLE"},"e1a53078-3a80-3798-9df4-33327a0a20c1":{"identifier":"e1a53078-3a80-3798-9df4-33327a0a20c1","name":"MSSQL"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}