NiFi flows/MILITARY_PERSONNEL_DIM.json
{"flowContents":{"identifier":"58a15fbd-175e-3bdb-8174-785d243d709d","instanceIdentifier":"99cd4b79-0190-1000-8be0-1afac72734c1","name":"MILITARY_PERSONNEL_DIM","comments":"","position":{"x":1248.0,"y":824.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"9a273f49-8e14-3d5c-aa81-c044cd3e14fe","instanceIdentifier":"99b4c865-0190-1000-f551-68c3c54fab32","name":"LogAttribute","comments":"","position":{"x":2424.0,"y":1544.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"85a11744-ae1a-335d-97e3-fe94a7d90085","instanceIdentifier":"99b4c85d-0190-1000-2c3c-a21edfec0301","name":"ExecuteSQL","comments":"","position":{"x":1952.0,"y":824.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select * from MILITARY_PERSONNEL_DIM where PERSONNEL_ID='${MilitaryPersonnelId}' and VALID_UNTIL is NULL","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"a7db860d-b6e8-37d2-97a0-b9d43e73c3b4","instanceIdentifier":"99b4c859-0190-1000-47f4-aca8762c1ae4","name":"ExecuteSQL","comments":"","position":{"x":1952.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"e1a53078-3a80-3798-9df4-33327a0a20c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM MilitaryPersonnel","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"9d026399-3b4f-384a-b1d8-2c0b053d1d40","instanceIdentifier":"9a98ddda-0190-1000-433c-a09a79cdddd1","name":"EvaluateJsonPath","comments":"","position":{"x":2528.0,"y":912.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","UnitIdFound":"$.UNIT_DIM_ID","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"UnitIdFound":{"name":"UnitIdFound","displayName":"UnitIdFound","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"8df11db1-4737-3b98-981d-7657d7aea7bb","instanceIdentifier":"99b4c85f-0190-1000-716b-1c35733c94d3","name":"EvaluateJsonPath","comments":"","position":{"x":1952.0,"y":1288.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","PersonnelIdR":"$.PERSONNEL_ID","RankNameR":"$.RANK_NAME","Max String Length":"20 MB","Return Type":"auto-detect","SurnameR":"$.SURNAME","Null Value Representation":"empty string","AgeR":"$.AGE","PersonnelDimIdR":"$.PERSONNEL_DIM_ID","Path Not Found Behavior":"ignore","NameR":"$.NAME"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"PersonnelIdR":{"name":"PersonnelIdR","displayName":"PersonnelIdR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"RankNameR":{"name":"RankNameR","displayName":"RankNameR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SurnameR":{"name":"SurnameR","displayName":"SurnameR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AgeR":{"name":"AgeR","displayName":"AgeR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"PersonnelDimIdR":{"name":"PersonnelDimIdR","displayName":"PersonnelDimIdR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"NameR":{"name":"NameR","displayName":"NameR","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"aabbefd6-a681-36af-b656-58198531f590","instanceIdentifier":"9a98ddd8-0190-1000-05de-2cfc09c17fb5","name":"ExecuteSQL","comments":"","position":{"x":2528.0,"y":448.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select * from MILITARY_UNIT_DIM where UNIT_ID='${UnitId}' and VALID_UNTIL is NULL","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"d98f6434-6458-333a-af6e-1f1a1bb80fc9","instanceIdentifier":"9a9fb086-0190-1000-080b-21410396203c","name":"LogAttribute","comments":"","position":{"x":1952.0,"y":3168.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"38590718-9143-3344-9d59-99ab1b8fc717","instanceIdentifier":"9a9bf562-0190-1000-0a47-9a8dc3ff8030","name":"PutSQL","comments":"","position":{"x":1960.0,"y":2936.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":"INSERT INTO MILITARY_BRIDGE_DIM(UNIT_DIM_ID,PERSONNEL_DIM_ID) VALUES('${UnitIdFound}','${PersonnelDimFound}')","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"902411c4-62dc-3719-96f8-ad51f634cfff","instanceIdentifier":"9a9dc7c6-0190-1000-e9cf-b024247fabfb","name":"ExecuteSQL","comments":"","position":{"x":1968.0,"y":2264.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select PERSONNEL_DIM_ID from MILITARY_PERSONNEL_DIM where PERSONNEL_ID='${MilitaryPersonnelId}' and VALID_UNTIL is NULL","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"54a2c446-e887-3ca4-add5-5ef5e133e2b6","instanceIdentifier":"99b4c860-0190-1000-ec97-3542a4065ba8","name":"RouteOnAttribute","comments":"","position":{"x":1952.0,"y":1544.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Routing Strategy":"Route to Property name","insert":"${PersonnelDimIdR:isEmpty()}","no_change":"${MilitaryPersonnelId:equals(${PersonnelIdR}):and(\n${Name:equals(${NameR}):and(\n${Surname:equals(${SurnameR}):and(\n${Rank:equals(${RankNameR}):and(\n${Age:equals(${AgeR}):and(\n${PersonnelDimIdR:isEmpty():not()\n})})})})})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"insert":{"name":"insert","displayName":"insert","identifiesControllerService":false,"sensitive":false,"dynamic":true},"no_change":{"name":"no_change","displayName":"no_change","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"724050fe-1c67-3957-95ef-0762ad8e60cf","instanceIdentifier":"99b4c85a-0190-1000-a851-659c8d40f514","name":"ConvertAvroToJSON","comments":"","position":{"x":1952.0,"y":144.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"f07a9b19-6046-3ff8-a987-51f76a3a0cab","instanceIdentifier":"99b4c85e-0190-1000-d72f-bcce0ea10f0e","name":"ConvertAvroToJSON","comments":"","position":{"x":1952.0,"y":1040.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"f73c29da-633c-3202-8262-e1d312f9d02e","instanceIdentifier":"99b4c85b-0190-1000-c564-1d6b739d9fef","name":"SplitJson","comments":"","position":{"x":1952.0,"y":360.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"25503155-5420-377d-a71d-96e633517284","instanceIdentifier":"99b4c863-0190-1000-8c56-90b21cd98038","name":"LogAttribute","comments":"","position":{"x":1480.0,"y":1792.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"1e446805-36dc-3b3e-99cc-72a2bd441e63","instanceIdentifier":"99b4c864-0190-1000-572a-d7b9072ba40b","name":"PutSQL","comments":"","position":{"x":2576.0,"y":1792.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"UPDATE MILITARY_PERSONNEL_DIM\nSET VALID_UNTIL = '${now():format('dd-MMM-yy')}'\nWHERE PERSONNEL_DIM_ID = ${PersonnelDimIdR}","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"f892db1e-5654-3cd2-a43b-790fb47176fd","instanceIdentifier":"99b4c861-0190-1000-8fa9-89a4866ab971","name":"PutSQL","comments":"","position":{"x":1952.0,"y":1792.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"INSERT INTO MILITARY_PERSONNEL_DIM(PERSONNEL_DIM_ID,PERSONNEL_ID,NAME,SURNAME,RANK_NAME,AGE) VALUES(NULL,'${MilitaryPersonnelId}','${Name}','${Surname}','${Rank}',${Age})","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"675515dc-1eff-3fd5-8238-b73968a828eb","instanceIdentifier":"99b4c85c-0190-1000-2a2e-60b211e0917b","name":"EvaluateJsonPath","comments":"","position":{"x":1952.0,"y":584.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","UnitId":"$.UnitID","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Rank":"$.Rank","Surname":"$.Surname","MilitaryPersonnelId":"$.MilitaryPersonnelId","Age":"$.Age","Path Not Found Behavior":"ignore","Name":"$.Name"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"UnitId":{"name":"UnitId","displayName":"UnitId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rank":{"name":"Rank","displayName":"Rank","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Surname":{"name":"Surname","displayName":"Surname","identifiesControllerService":false,"sensitive":false,"dynamic":true},"MilitaryPersonnelId":{"name":"MilitaryPersonnelId","displayName":"MilitaryPersonnelId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Age":{"name":"Age","displayName":"Age","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Name":{"name":"Name","displayName":"Name","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"c51c91be-f998-3905-8023-505518c47747","instanceIdentifier":"9a98ddd9-0190-1000-e6d1-ddee3ea39e7b","name":"ConvertAvroToJSON","comments":"","position":{"x":2528.0,"y":664.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"3f9ed9c7-08dc-369c-8ea4-736f5ee13a6f","instanceIdentifier":"9a9dc7c7-0190-1000-0add-e9730e59ccda","name":"ConvertAvroToJSON","comments":"","position":{"x":1968.0,"y":2480.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"81ae3dac-16df-3f3b-afd8-c8500cac9f0d","instanceIdentifier":"99b4c862-0190-1000-8514-b93700c1d1f8","name":"LogAttribute","comments":"","position":{"x":1952.0,"y":2032.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"66e3cc5c-a5af-3c26-b08e-8007529508f7","instanceIdentifier":"9a9dc7c8-0190-1000-87f7-349a3470687c","name":"EvaluateJsonPath","comments":"","position":{"x":1968.0,"y":2728.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","PersonnelIdFound":"$.PERSONNEL_DIM_ID"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"PersonnelIdFound":{"name":"PersonnelIdFound","displayName":"PersonnelIdFound","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"319108c0-3bce-3567-ad15-f82ab5a184a0","instanceIdentifier":"9a9b1aa1-0190-1000-e7f9-2a20447cd815","name":"","source":{"id":"aabbefd6-a681-36af-b656-58198531f590","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a98ddd8-0190-1000-05de-2cfc09c17fb5"},"destination":{"id":"c51c91be-f998-3905-8023-505518c47747","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a98ddd9-0190-1000-e6d1-ddee3ea39e7b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"7d0b1e96-701f-3aa4-834c-95ed060ced5c","instanceIdentifier":"9a9dfb8a-0190-1000-9c77-a5200ca1718e","name":"","source":{"id":"81ae3dac-16df-3f3b-afd8-c8500cac9f0d","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"LogAttribute","comments":"","instanceIdentifier":"99b4c862-0190-1000-8514-b93700c1d1f8"},"destination":{"id":"902411c4-62dc-3719-96f8-ad51f634cfff","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a9dc7c6-0190-1000-e9cf-b024247fabfb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"4ca21ac0-6947-3e37-91f4-524676e23ad2","instanceIdentifier":"99b4c866-0190-1000-bb5b-0d4de19b4564","name":"","source":{"id":"a7db860d-b6e8-37d2-97a0-b9d43e73c3b4","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"ExecuteSQL","comments":"","instanceIdentifier":"99b4c859-0190-1000-47f4-aca8762c1ae4"},"destination":{"id":"724050fe-1c67-3957-95ef-0762ad8e60cf","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"99b4c85a-0190-1000-a851-659c8d40f514"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"e6d9d5eb-2b4a-37e4-9187-a97f70ac09d3","instanceIdentifier":"99b4c86b-0190-1000-362b-593849c90bbd","name":"","source":{"id":"f07a9b19-6046-3ff8-a987-51f76a3a0cab","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"99b4c85e-0190-1000-d72f-bcce0ea10f0e"},"destination":{"id":"8df11db1-4737-3b98-981d-7657d7aea7bb","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"99b4c85f-0190-1000-716b-1c35733c94d3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"523b5b6c-cc41-33f1-af82-6d6282b51e89","instanceIdentifier":"9a9b59af-0190-1000-805e-e38b9cf49a1c","name":"","source":{"id":"9d026399-3b4f-384a-b1d8-2c0b053d1d40","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a98ddda-0190-1000-433c-a09a79cdddd1"},"destination":{"id":"85a11744-ae1a-335d-97e3-fe94a7d90085","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"ExecuteSQL","comments":"","instanceIdentifier":"99b4c85d-0190-1000-2c3c-a21edfec0301"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"09d17c39-bf3c-3a80-8071-3188a5e23133","instanceIdentifier":"99b4c870-0190-1000-ecc0-694051f39ccd","name":"","source":{"id":"54a2c446-e887-3ca4-add5-5ef5e133e2b6","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"RouteOnAttribute","comments":"","instanceIdentifier":"99b4c860-0190-1000-ec97-3542a4065ba8"},"destination":{"id":"1e446805-36dc-3b3e-99cc-72a2bd441e63","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"PutSQL","comments":"","instanceIdentifier":"99b4c864-0190-1000-572a-d7b9072ba40b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"7eaeb3e8-911e-356f-9059-cc457886e0f3","instanceIdentifier":"9a9f13e3-0190-1000-0801-6798e7913537","name":"","source":{"id":"902411c4-62dc-3719-96f8-ad51f634cfff","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a9dc7c6-0190-1000-e9cf-b024247fabfb"},"destination":{"id":"3f9ed9c7-08dc-369c-8ea4-736f5ee13a6f","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a9dc7c7-0190-1000-0add-e9730e59ccda"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"0001e551-8b69-3a47-b91a-c82e53606152","instanceIdentifier":"99b4c868-0190-1000-c244-192f81496285","name":"","source":{"id":"f73c29da-633c-3202-8262-e1d312f9d02e","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"SplitJson","comments":"","instanceIdentifier":"99b4c85b-0190-1000-c564-1d6b739d9fef"},"destination":{"id":"675515dc-1eff-3fd5-8238-b73968a828eb","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"99b4c85c-0190-1000-2a2e-60b211e0917b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"5f40e48e-f94d-3e0c-8b8b-bb511a3da67d","instanceIdentifier":"99b4c86f-0190-1000-3249-cbd21e4f0bf1","name":"","source":{"id":"54a2c446-e887-3ca4-add5-5ef5e133e2b6","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"RouteOnAttribute","comments":"","instanceIdentifier":"99b4c860-0190-1000-ec97-3542a4065ba8"},"destination":{"id":"25503155-5420-377d-a71d-96e633517284","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"LogAttribute","comments":"","instanceIdentifier":"99b4c863-0190-1000-8c56-90b21cd98038"},"labelIndex":1,"zIndex":0,"selectedRelationships":["no_change"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"6e8bd4d3-6a2b-3b2e-b048-5056efde84a3","instanceIdentifier":"9a9b29ee-0190-1000-cdbd-8baf85d4b4aa","name":"","source":{"id":"c51c91be-f998-3905-8023-505518c47747","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a98ddd9-0190-1000-e6d1-ddee3ea39e7b"},"destination":{"id":"9d026399-3b4f-384a-b1d8-2c0b053d1d40","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a98ddda-0190-1000-433c-a09a79cdddd1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"1c5e4379-e315-3bdf-8523-101ea6448b73","instanceIdentifier":"99b4c871-0190-1000-055e-ce4d13ed00cd","name":"","source":{"id":"1e446805-36dc-3b3e-99cc-72a2bd441e63","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"PutSQL","comments":"","instanceIdentifier":"99b4c864-0190-1000-572a-d7b9072ba40b"},"destination":{"id":"9a273f49-8e14-3d5c-aa81-c044cd3e14fe","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"LogAttribute","comments":"","instanceIdentifier":"99b4c865-0190-1000-f551-68c3c54fab32"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"52dc2f1b-1f20-3ea4-b1d7-9b1ce602f801","instanceIdentifier":"99b4c86c-0190-1000-3338-dc75fd3d38a8","name":"","source":{"id":"8df11db1-4737-3b98-981d-7657d7aea7bb","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"99b4c85f-0190-1000-716b-1c35733c94d3"},"destination":{"id":"54a2c446-e887-3ca4-add5-5ef5e133e2b6","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"RouteOnAttribute","comments":"","instanceIdentifier":"99b4c860-0190-1000-ec97-3542a4065ba8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"5abd2b51-b2c0-373d-bf58-52e854245101","instanceIdentifier":"99b4c869-0190-1000-79a6-166929d987db","name":"","source":{"id":"85a11744-ae1a-335d-97e3-fe94a7d90085","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"ExecuteSQL","comments":"","instanceIdentifier":"99b4c85d-0190-1000-2c3c-a21edfec0301"},"destination":{"id":"f07a9b19-6046-3ff8-a987-51f76a3a0cab","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"99b4c85e-0190-1000-d72f-bcce0ea10f0e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"8ef03329-4d51-38b7-a1d0-f18c0897d1ad","instanceIdentifier":"9a9fcbec-0190-1000-32a5-cbcb96c48682","name":"","source":{"id":"38590718-9143-3344-9d59-99ab1b8fc717","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"PutSQL","comments":"","instanceIdentifier":"9a9bf562-0190-1000-0a47-9a8dc3ff8030"},"destination":{"id":"d98f6434-6458-333a-af6e-1f1a1bb80fc9","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"LogAttribute","comments":"","instanceIdentifier":"9a9fb086-0190-1000-080b-21410396203c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"5293ae01-e8f7-3fb1-aba2-043bff18381d","instanceIdentifier":"99b4c867-0190-1000-b2c2-33993134a863","name":"","source":{"id":"724050fe-1c67-3957-95ef-0762ad8e60cf","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"99b4c85a-0190-1000-a851-659c8d40f514"},"destination":{"id":"f73c29da-633c-3202-8262-e1d312f9d02e","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"SplitJson","comments":"","instanceIdentifier":"99b4c85b-0190-1000-c564-1d6b739d9fef"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"09c03cfe-55ff-3251-ad33-fc9d02181d23","instanceIdentifier":"9a9a6ad5-0190-1000-23dd-59f4ae1234b1","name":"","source":{"id":"675515dc-1eff-3fd5-8238-b73968a828eb","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"99b4c85c-0190-1000-2a2e-60b211e0917b"},"destination":{"id":"aabbefd6-a681-36af-b656-58198531f590","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a98ddd8-0190-1000-05de-2cfc09c17fb5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"b2597a7c-a7e8-39a1-b4a2-0c2165c7c3b4","instanceIdentifier":"9a9f7384-0190-1000-aa28-fa0c1e6d488a","name":"","source":{"id":"66e3cc5c-a5af-3c26-b08e-8007529508f7","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a9dc7c8-0190-1000-87f7-349a3470687c"},"destination":{"id":"38590718-9143-3344-9d59-99ab1b8fc717","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"PutSQL","comments":"","instanceIdentifier":"9a9bf562-0190-1000-0a47-9a8dc3ff8030"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"05afe3c3-925a-30c0-b2c0-09a5de80ea61","instanceIdentifier":"99b4c86e-0190-1000-c39c-cd91fda1b473","name":"","source":{"id":"f892db1e-5654-3cd2-a43b-790fb47176fd","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"PutSQL","comments":"","instanceIdentifier":"99b4c861-0190-1000-8fa9-89a4866ab971"},"destination":{"id":"81ae3dac-16df-3f3b-afd8-c8500cac9f0d","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"LogAttribute","comments":"","instanceIdentifier":"99b4c862-0190-1000-8514-b93700c1d1f8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"646ad83a-c0a5-3cb8-88b5-8bf3f0a6ddd8","instanceIdentifier":"99b4c86d-0190-1000-6e22-a6f09fcc7347","name":"","source":{"id":"54a2c446-e887-3ca4-add5-5ef5e133e2b6","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"RouteOnAttribute","comments":"","instanceIdentifier":"99b4c860-0190-1000-ec97-3542a4065ba8"},"destination":{"id":"f892db1e-5654-3cd2-a43b-790fb47176fd","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"PutSQL","comments":"","instanceIdentifier":"99b4c861-0190-1000-8fa9-89a4866ab971"},"labelIndex":1,"zIndex":0,"selectedRelationships":["insert"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"90d06d50-0149-36df-9dc2-142a99a918fe","instanceIdentifier":"9a9f1f45-0190-1000-64c3-811cd0192f29","name":"","source":{"id":"3f9ed9c7-08dc-369c-8ea4-736f5ee13a6f","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a9dc7c7-0190-1000-0add-e9730e59ccda"},"destination":{"id":"66e3cc5c-a5af-3c26-b08e-8007529508f7","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a9dc7c8-0190-1000-87f7-349a3470687c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"},{"identifier":"b6856e04-4249-3aae-a0f8-ca04c8148811","instanceIdentifier":"99b4c872-0190-1000-2930-66939699d187","name":"","source":{"id":"1e446805-36dc-3b3e-99cc-72a2bd441e63","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"PutSQL","comments":"","instanceIdentifier":"99b4c864-0190-1000-572a-d7b9072ba40b"},"destination":{"id":"f892db1e-5654-3cd2-a43b-790fb47176fd","type":"PROCESSOR","groupId":"58a15fbd-175e-3bdb-8174-785d243d709d","name":"PutSQL","comments":"","instanceIdentifier":"99b4c861-0190-1000-8fa9-89a4866ab971"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"58a15fbd-175e-3bdb-8174-785d243d709d"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","instanceIdentifier":"978e4073-0190-1000-fa03-618f3f752857","name":"ORACLE","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"oracle.jdbc.OracleDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":"select 1 as test from dual","Database Connection URL":"jdbc:oracle:thin:S18285/S18285@160.99.12.92:1521/GISLAB_PD","dbcp-time-between-eviction-runs":"-1","Database User":null,"kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"lib/ojdbc8.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"99cd4b79-0190-1000-8be0-1afac72734c1"},{"identifier":"e1a53078-3a80-3798-9df4-33327a0a20c1","instanceIdentifier":"8e03e652-0190-1000-04d7-2dbd8ee2d190","name":"MSSQL","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.microsoft.sqlserver.jdbc.SQLServerDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:sqlserver://localhost;port=1433;database=Afghans;trustServerCertificate=true","dbcp-time-between-eviction-runs":"-1","Database User":"sa","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"lib/mssql-jdbc-12.6.3.jre11.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"99cd4b79-0190-1000-8be0-1afac72734c1"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}