NiFi flows/ORGANIZATION_DIM.json
{"flowContents":{"identifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5","instanceIdentifier":"9a0c6b44-0190-1000-979e-d4c56c4043f0","name":"ORGANIZATION_DIM","comments":"","position":{"x":1248.0,"y":328.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ca77ec0d-d71c-36f9-bb8a-b9a58b510ad0","instanceIdentifier":"9a00ea35-0190-1000-e08b-f09e7b19783e","name":"ExecuteSQL","comments":"","position":{"x":3248.0,"y":840.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select * from ORGANIZATION_DIM where ORGANIZATION_ID='${OrganizationId}' and VALID_UNTIL is NULL","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"de558860-1240-3a89-bffc-859c7689983a","instanceIdentifier":"9a00ea33-0190-1000-4076-40241622ee72","name":"SplitJson","comments":"","position":{"x":3248.0,"y":376.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"ae6f5564-a5a9-3aaa-8232-f10832b78177","instanceIdentifier":"9a00ea36-0190-1000-f8e8-bcf558087056","name":"ConvertAvroToJSON","comments":"","position":{"x":3248.0,"y":1056.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"5d6e61a8-d71b-3d57-9dfa-e4d982c9c64f","instanceIdentifier":"9a00ea31-0190-1000-0f34-b12e9cadf37c","name":"ExecuteSQL","comments":"","position":{"x":3248.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"e1a53078-3a80-3798-9df4-33327a0a20c1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM Organizations","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"0d27e28d-bb18-3199-861b-27dc10859949","instanceIdentifier":"9a00ea34-0190-1000-ea21-f2ac39dbcc2b","name":"EvaluateJsonPath","comments":"","position":{"x":3248.0,"y":600.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Country":"$.Country","Null Value Representation":"empty string","OrganizationId":"$.OrganizationId","Path Not Found Behavior":"ignore","Name":"$.Name"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Country":{"name":"Country","displayName":"Country","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OrganizationId":{"name":"OrganizationId","displayName":"OrganizationId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Name":{"name":"Name","displayName":"Name","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"a6ca6501-2855-3519-a32e-be790ec2a8eb","instanceIdentifier":"9a00ea3c-0190-1000-0680-0e2d68430658","name":"PutSQL","comments":"","position":{"x":3872.0,"y":1808.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"UPDATE ORGANIZATION_DIM\nSET VALID_UNTIL = '${now():format('dd-MMM-yy')}'\nWHERE ORGANIZATION_DIM_ID = ${OrganizationDimIdR}","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"b77ec73d-e921-37ed-b2c8-f212785516fd","instanceIdentifier":"9a00ea37-0190-1000-8c57-04e2012f5157","name":"EvaluateJsonPath","comments":"","position":{"x":3248.0,"y":1304.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","OrganizationCountryR":"$.ORGANIZATION_DIM_COUNTRY","Max String Length":"20 MB","OrganizationIdR":"$.ORGANIZATION_ID","Return Type":"auto-detect","Null Value Representation":"empty string","OrganizatioinDimIdR":"$.ORGANIZATION_DIM_ID","Path Not Found Behavior":"ignore","OrganizationNameR":"$.ORGANIZATION_DIM_NAME"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OrganizationCountryR":{"name":"OrganizationCountryR","displayName":"OrganizationCountryR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OrganizationIdR":{"name":"OrganizationIdR","displayName":"OrganizationIdR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OrganizatioinDimIdR":{"name":"OrganizatioinDimIdR","displayName":"OrganizatioinDimIdR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OrganizationNameR":{"name":"OrganizationNameR","displayName":"OrganizationNameR","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"ed21888d-c546-3671-8277-20f6ecf32fa0","instanceIdentifier":"9a00ea38-0190-1000-dd11-50a98e79ec53","name":"RouteOnAttribute","comments":"","position":{"x":3248.0,"y":1560.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Routing Strategy":"Route to Property name","insert":"${OrganizationDimIdR:isEmpty()}","no_change":"${OrganizationId:equals(${OrganizationIdR}):and(\n${Country:equals(${OrganizationCountryR}):and(\n${Name:equals(${OrganizationNameR}):and(\n${OrganizationDimIdR:isEmpty():not()\n})})})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"insert":{"name":"insert","displayName":"insert","identifiesControllerService":false,"sensitive":false,"dynamic":true},"no_change":{"name":"no_change","displayName":"no_change","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"77738ff8-a7ae-3b4e-81dc-63a169e5063b","instanceIdentifier":"9a00ea3b-0190-1000-f466-176f0e771a81","name":"LogAttribute","comments":"","position":{"x":2776.0,"y":1808.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"59b4febd-83cc-3b82-94c9-b385970195d3","instanceIdentifier":"9a00ea32-0190-1000-c95d-2a750a43fa33","name":"ConvertAvroToJSON","comments":"","position":{"x":3248.0,"y":160.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"2.0.0-M2"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"2e23c111-f096-3de3-a932-c00e6cb27432","instanceIdentifier":"9a00ea39-0190-1000-6f86-5308a263cec4","name":"PutSQL","comments":"","position":{"x":3248.0,"y":1808.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"INSERT INTO ORGANIZATION_DIM(ORGANIZATION_DIM_ID,ORGANIZATION_ID,ORGANIZATION_DIM_COUNTRY,ORGANIZATION_DIM_NAME) VALUES(NULL,'${OrganizationId}','${Country}','${Name}')","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"7546cec4-53e7-30e1-a6e5-07ffddc9f8ea","instanceIdentifier":"9a00ea3a-0190-1000-7aac-d3665fdc585f","name":"LogAttribute","comments":"","position":{"x":3248.0,"y":2048.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"4d883e17-6832-3f16-95c1-ffbcd34937d7","instanceIdentifier":"9a00ea3d-0190-1000-bed5-fc83e0697ae9","name":"LogAttribute","comments":"","position":{"x":3720.0,"y":1560.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"c1696e72-953c-3a59-878b-299bbaa260bf","instanceIdentifier":"9a00ea46-0190-1000-ec68-2c790200aa57","name":"","source":{"id":"2e23c111-f096-3de3-a932-c00e6cb27432","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"PutSQL","comments":"","instanceIdentifier":"9a00ea39-0190-1000-6f86-5308a263cec4"},"destination":{"id":"7546cec4-53e7-30e1-a6e5-07ffddc9f8ea","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"LogAttribute","comments":"","instanceIdentifier":"9a00ea3a-0190-1000-7aac-d3665fdc585f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"9a37dcd5-9192-36e1-a2ae-a0e2a9fd23bb","instanceIdentifier":"9a00ea47-0190-1000-56bb-4444ebc269d6","name":"","source":{"id":"ed21888d-c546-3671-8277-20f6ecf32fa0","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9a00ea38-0190-1000-dd11-50a98e79ec53"},"destination":{"id":"77738ff8-a7ae-3b4e-81dc-63a169e5063b","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"LogAttribute","comments":"","instanceIdentifier":"9a00ea3b-0190-1000-f466-176f0e771a81"},"labelIndex":1,"zIndex":0,"selectedRelationships":["no_change"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"aa603694-2f58-3477-9993-2763c13a5783","instanceIdentifier":"9a00ea42-0190-1000-3b2d-f936a52e73d7","name":"","source":{"id":"0d27e28d-bb18-3199-861b-27dc10859949","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a00ea34-0190-1000-ea21-f2ac39dbcc2b"},"destination":{"id":"ca77ec0d-d71c-36f9-bb8a-b9a58b510ad0","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a00ea35-0190-1000-e08b-f09e7b19783e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"9dbcdf7e-054f-33ca-a0e5-26f6c180c8b3","instanceIdentifier":"9a00ea41-0190-1000-57a8-5633d96441a7","name":"","source":{"id":"ca77ec0d-d71c-36f9-bb8a-b9a58b510ad0","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a00ea35-0190-1000-e08b-f09e7b19783e"},"destination":{"id":"ae6f5564-a5a9-3aaa-8232-f10832b78177","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a00ea36-0190-1000-f8e8-bcf558087056"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"83613979-2c15-3468-941c-b2e0039e637e","instanceIdentifier":"9a00ea3f-0190-1000-cbfb-d8f7989f94d0","name":"","source":{"id":"59b4febd-83cc-3b82-94c9-b385970195d3","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a00ea32-0190-1000-c95d-2a750a43fa33"},"destination":{"id":"de558860-1240-3a89-bffc-859c7689983a","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"SplitJson","comments":"","instanceIdentifier":"9a00ea33-0190-1000-4076-40241622ee72"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"0b61903e-a929-3501-9c67-56e1e2a7036f","instanceIdentifier":"9a00ea4a-0190-1000-f4d9-b25414230235","name":"","source":{"id":"a6ca6501-2855-3519-a32e-be790ec2a8eb","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"PutSQL","comments":"","instanceIdentifier":"9a00ea3c-0190-1000-0680-0e2d68430658"},"destination":{"id":"2e23c111-f096-3de3-a932-c00e6cb27432","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"PutSQL","comments":"","instanceIdentifier":"9a00ea39-0190-1000-6f86-5308a263cec4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"e1d6f03a-8481-34d2-af46-eeb8ec3c7ccd","instanceIdentifier":"9a00ea45-0190-1000-d66a-0382d8f58823","name":"","source":{"id":"ed21888d-c546-3671-8277-20f6ecf32fa0","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9a00ea38-0190-1000-dd11-50a98e79ec53"},"destination":{"id":"2e23c111-f096-3de3-a932-c00e6cb27432","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"PutSQL","comments":"","instanceIdentifier":"9a00ea39-0190-1000-6f86-5308a263cec4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["insert"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"ce2cc74d-e86e-3a38-b0b9-396ccc35ed74","instanceIdentifier":"9a00ea48-0190-1000-e304-b8feca239b31","name":"","source":{"id":"ed21888d-c546-3671-8277-20f6ecf32fa0","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9a00ea38-0190-1000-dd11-50a98e79ec53"},"destination":{"id":"a6ca6501-2855-3519-a32e-be790ec2a8eb","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"PutSQL","comments":"","instanceIdentifier":"9a00ea3c-0190-1000-0680-0e2d68430658"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"a3a2cc70-ccd2-3828-8ede-717288efbeb6","instanceIdentifier":"9a00ea43-0190-1000-260a-5542527d3dd4","name":"","source":{"id":"ae6f5564-a5a9-3aaa-8232-f10832b78177","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a00ea36-0190-1000-f8e8-bcf558087056"},"destination":{"id":"b77ec73d-e921-37ed-b2c8-f212785516fd","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a00ea37-0190-1000-8c57-04e2012f5157"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"9de60094-1b49-3310-a9f7-9fa92a248935","instanceIdentifier":"9a00ea44-0190-1000-140a-09e9597f4cb6","name":"","source":{"id":"b77ec73d-e921-37ed-b2c8-f212785516fd","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a00ea37-0190-1000-8c57-04e2012f5157"},"destination":{"id":"ed21888d-c546-3671-8277-20f6ecf32fa0","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9a00ea38-0190-1000-dd11-50a98e79ec53"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"0547cdf0-e5d8-3c8d-8df7-a9a23853d7e3","instanceIdentifier":"9a00ea3e-0190-1000-2a40-4ea99c952bd2","name":"","source":{"id":"5d6e61a8-d71b-3d57-9dfa-e4d982c9c64f","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"ExecuteSQL","comments":"","instanceIdentifier":"9a00ea31-0190-1000-0f34-b12e9cadf37c"},"destination":{"id":"59b4febd-83cc-3b82-94c9-b385970195d3","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"9a00ea32-0190-1000-c95d-2a750a43fa33"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"6e8e96ee-82a3-3e68-858e-26189cea0c89","instanceIdentifier":"9a00ea40-0190-1000-ae51-51e06077a3b4","name":"","source":{"id":"de558860-1240-3a89-bffc-859c7689983a","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"SplitJson","comments":"","instanceIdentifier":"9a00ea33-0190-1000-4076-40241622ee72"},"destination":{"id":"0d27e28d-bb18-3199-861b-27dc10859949","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a00ea34-0190-1000-ea21-f2ac39dbcc2b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"},{"identifier":"6fba1267-23b8-3440-9b69-4bc6d6142085","instanceIdentifier":"9a00ea49-0190-1000-80c8-71bf477afab9","name":"","source":{"id":"a6ca6501-2855-3519-a32e-be790ec2a8eb","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"PutSQL","comments":"","instanceIdentifier":"9a00ea3c-0190-1000-0680-0e2d68430658"},"destination":{"id":"4d883e17-6832-3f16-95c1-ffbcd34937d7","type":"PROCESSOR","groupId":"4374bf72-31c6-3248-a031-5d9dc1b234f5","name":"LogAttribute","comments":"","instanceIdentifier":"9a00ea3d-0190-1000-bed5-fc83e0697ae9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4374bf72-31c6-3248-a031-5d9dc1b234f5"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"3e30a62c-9ee2-3f31-ba7e-90f0c8f5ffbd","instanceIdentifier":"978e4073-0190-1000-fa03-618f3f752857","name":"ORACLE","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"oracle.jdbc.OracleDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":"select 1 as test from dual","Database Connection URL":"jdbc:oracle:thin:S18285/S18285@160.99.12.92:1521/GISLAB_PD","dbcp-time-between-eviction-runs":"-1","Database User":null,"kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"lib/ojdbc8.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9a0c6b44-0190-1000-979e-d4c56c4043f0"},{"identifier":"e1a53078-3a80-3798-9df4-33327a0a20c1","instanceIdentifier":"8e03e652-0190-1000-04d7-2dbd8ee2d190","name":"MSSQL","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.microsoft.sqlserver.jdbc.SQLServerDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:sqlserver://localhost;port=1433;database=Afghans;trustServerCertificate=true","dbcp-time-between-eviction-runs":"-1","Database User":"sa","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"lib/mssql-jdbc-12.6.3.jre11.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9a0c6b44-0190-1000-979e-d4c56c4043f0"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}